<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#e8293b"/>
    <meta name="HandheldFriendly" content="true" />
    <title>Auxesis | Adroit-Vie</title>
    <meta name="author" content="Themezinho">
    <meta name="description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta property="og:image" content="http://www.themezinho.net/brabus/preview.png">
    <meta property="og:site_name" content="Brabus">
    <meta property="og:title" content="Brabus">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.themezinho.net/brabus">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@brabus">
    <meta name="twitter:creator" content="@brabus">
    <meta name="twitter:title" content="brabus">
    <meta name="twitter:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="twitter:image" content="http://www.themezinho.net/brabus/preview.png">

    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="inner">
        <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
        <span class="typewriter" id="typewriter"></span> </div>
    <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
    <div class="left"> <a href="/">Auxesis</a> </div>
    <!-- end left -->
    <div class="logo"> <a href="#"><img src="images/MainLogo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="right">
        <ul class="language">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <div class="hamburger-menu"><b>MENU</b>
            <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        </div>
        <!-- end hamburger-menu -->
    </div>
    <!-- end right -->
</nav>
<!-- end navbar -->
<header class="page-header">
    <div class="video-bg">
        <!-- <video src="videos/video.mp4" muted loop autoplay></video> -->
        <img src="images/androiVie.jpg" alt="Image">
    </div>
    <!-- end video-bg -->
    <div class="container">
        <h1>ADROIT VIE</h1>
        <p>Adorn your Life with Game</p>
    </div>
    <!-- end container -->
    <aside class="left-side">
            <ul>
              <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
              <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
              <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
            </ul>
          </aside>
    <!-- end left-side -->
    <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  
</header>
<!-- end header -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/ML.jpeg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <small class="post-date">23 OCTOBER, 2019</small>
                            <h3 class="post-title"><a href="#">MOBILE LEGENDS</a></h3>
                            <div class="post-author"><img src="images/gourav.jpeg" alt="Image">
                                <span>conducted by <a href="#">Gourav Buragohain</a></span></div>
                            <p class="post-text">
                               email:meetgaurob@gmail.com<br>
                               phone number : +91 7002656389 <br>
                            </p>
                            <div class="custom-link wow fadeIn">
                                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                                      <div class="lines"> <span></span> <span></span> </div>
                                      <b>Rules</b>
                                    </a>
                            </div> 
                        </div>
                    </div>
                </div>

                <!-- end post -->
                <div class="post wow fadeIn">
                        <figure class="post-image">
                            <img src="images/PUBG.jpg" alt="Image">
                        </figure>
                        <!-- end news-image -->
                        <div class="post-content">
                            <div class="inner">
                                <small class="post-date">23 OCTOBER, 2019</small>
                                <h3 class="post-title"><a href="#">PUBG</a></h3>
                                <div class="post-author"><img src="images/nava.jpeg" alt="Image">
                                    <span>conducted by <a href="#">Navajit Shyam</a></span></div>
                                <p class="post-text">
                                        email: shyamnavajit.ns@gmail.com <br>
                                        phone number : +91 7002 93 5021 <br>
                                </p>
                                <div class="custom-link wow fadeIn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                                          <div class="lines"> <span></span> <span></span> </div>
                                          <b>Rules</b>
                                        </a>
                                </div> 
                            </div>
                        </div>
                    </div>

                <div class="post wow fadeIn">
                        <figure class="post-image">
                            <img src="images/FIFA.jpg" alt="Image">
                        </figure>
                        <div class="post-content">
                            <div class="inner">
                                <small class="post-date">23 OCTOBER, 2019</small>
                                <h3 class="post-title"><a href="#">FIFA 19</a></h3>
                                <div class="post-author"><img src="images/nava.jpeg" alt="Image">
                                    <span>conducted by <a href="#">Navajit Shyam</a></span></div>
                                <p class="post-text">
                                        email: shyamnavajit.ns@gmail.com <br>
                                        phone number : +91 7002 93 5021 <br>
                                </p>
                                <div class="custom-link wow fadeIn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalScrollableFifa">
                                          <div class="lines"> <span></span> <span></span> </div>
                                          <b>Rules</b>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="post wow fadeIn">
                        <figure class="post-image">
                            <img src="images/CSGO.png" alt="Image">
                        </figure>
                        <!-- end news-image -->
                        <div class="post-content">
                            <div class="inner">
                                <small class="post-date">23 OCTOBER, 2019</small>
                                <h3 class="post-title"><a href="#">Counter Strike</a></h3>
                                <div class="post-author"><img src="images/nava.jpeg" alt="Image">
                                    <span>conducted by <a href="#">Navajit Shyam</a></span></div>
                                <p class="post-text">
                                        email: shyamnavajit.ns@gmail.com <br>
                                        phone number : +91 7002 93 5021 <br>
                                </p>
                                <div class="custom-link wow fadeIn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalScrollableCS">
                                          <div class="lines"> <span></span> <span></span> </div>
                                          <b>Rules</b>
                                        </a>
                                </div>
                            </div>
                            <!-- end inner -->
                        </div>
                        <!-- end post-content -->
                    </div>

                    <div class="post wow fadeIn">
                        <figure class="post-image">
                            <img src="images/tekken7.jpg" alt="Image">
                        </figure>
                        <!-- end news-image -->
                        <div class="post-content">
                            <div class="inner">
                                <small class="post-date">23 OCTOBER, 2019</small>
                                <h3 class="post-title"><a href="#">Counter Strike</a></h3>
                                <div class="post-author"><img src="images/nava.jpeg" alt="Image">
                                    <span>conducted by <a href="#">Navajit Shyam</a></span></div>
                                <p class="post-text">
                                        email: shyamnavajit.ns@gmail.com <br>
                                        phone number : +91 7002 93 5021 <br>
                                </p>
                                <div class="custom-link wow fadeIn">
                                        <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                                          <div class="lines"> <span></span> <span></span> </div>
                                          <b>Rules</b>
                                        </a>
                                </div>
                            </div>
                            <!-- end inner -->
                        </div>
                        <!-- end post-content -->
                    </div>
                
                <div class="pagination fadeIn">
                    <a href="#"></a>
                </div>
                <!-- end pagination -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<div class="modal fade" id="exampleModalScrollableFifa" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Rules and Regulations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <li>
                    The matches will be played 1 v/s 1. The game will be played on Computer keyboard and 
                    gamepads..
                </li>
                <li>
                    Participants can play with only football clubs; international teams are not allowed..
                </li>
                <li>
                    Squads of the clubs used will be DEFAULT ones..
                </li>
                <li>
                    Both Oppenets can play with same club..
                </li>
                <li>
                    The matches will be played in a neutral venue..
                </li>
                <li>
                    Each participant will need to register per match..
                </li>
                <li>
                    At the End of the match, players must maintain the final screens and receive 
                    confirmation from referee..
                </li>
                <li>
                    Eliminated participants can register again if they want to play..
                </li>
                <li>
                    All the participants can register as many times as want..
                </li>
                <li>
                    In case of a draw Extra time will be provided, if still draw remains in extra
                     time penalty will be awarded at last for declaration of the winner..
                </li>
                <li>
                    All conditions will be standard (fatigue,offside, game speed etc)..
                </li>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>


<div class="modal fade" id="exampleModalScrollableCS" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Rules and Regulations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <li>
                        Team Size: 5 vs 5 or 4 vs 4
                </li>
                <li>
                        Rounds per map: 21.
                </li>
                <li>
                        Winning: the first team that has 11 rounds wins the match.
                </li>
                <li>
                        If the server crashes during a game the server will be restarted.
                </li>
                <li>
                        If one or more players drops out of the game, the game must be paused. The waiting time
                        for a dropped player is 5 minutes. In case the dropped player does not reconnect
                        within 5 minutes and there should be no substitute available, the team must continue
                        playing with one less player.
                </li>
                <li>
                        Players are recommended to bring their own gaming equipment i.e. mouse,
                        keyboard, headphone, Mouse Pads .
                </li>
                <li>
                        The organizer will not be held responsible for any fault / damage arising to
                        the installation.
                </li>
                <li>
                        ADROIT VIE RECOMMENDS PLAYERS TO BRING THEIR OWN MOUSE,
                        KEYBOARD, HEADPHONE AND ANY OTHER PERIPHERAL TO SIMULATE THEIR
                        OWN BEST PLAYING ENVIRONMENT.
                </li>
                <li>
                        ADROIT VIE WILL NOT PROVIDE MOUSE, KEYBOARDS AND HEADPHONES.
                        NO MOUSE PADS WILL BE AVAILABLE, SO PLEASE BRING YOUR OWN.
                </li>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Rules and Regulations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <li>
                   Coming Soon
                </li>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>
<!-- end news -->

<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>
</html>
