<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#e8293b"/>
        <meta name="HandheldFriendly" content="true" />
        <title>Auxesis | Creativity</title>
        <meta name="author" content="Auxesis">
        <meta name="description" content="Auxesis">
        <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">
        
        <!-- SOCIAL MEDIA META -->
        <meta property="og:description" content="Auxesis">
        <meta property="og:site_name" content="auxesis.in">
        <meta property="og:title" content="auxesis.in">
        <meta property="og:type" content="website">
        <meta property="og:url" content="auxesis.in">
        
        <!-- TWITTER META -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@auxesis">
        <meta name="twitter:creator" content="@auxesis">
        <meta name="twitter:title" content="Auxesis">
        <meta name="twitter:description" content="Auxesis">
        
        <!-- FAVICON FILES -->
        <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
        <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
        <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
        <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
        <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="inner">
        <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
        <span class="typewriter" id="typewriter"></span> </div>
    <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
    <div class="left"> <a href="/">Auxesis</a> </div>
    <!-- end left -->
    <div class="logo"> <a href="/"><img src="images/MainLogo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="right">
        <ul class="language">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <div class="hamburger-menu"><b>MENU</b>
            <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        </div>
        <!-- end hamburger-menu -->
    </div>
    <!-- end right -->
</nav>
<!-- end navbar -->
<header class="page-header">
    <div class="video-bg">
        <img src="images/creativityH.jpg" alt="Image">
    </div>
    <!-- end video-bg -->
    <div class="container">
        <h1>Creativity</h1>
        <p>The chief enemy of creativity is good sense. Pablo Picasso</p>
    </div>
    <!-- end container -->
    <aside class="left-side">
            <ul>
              <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
              <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
              <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
            </ul>
          </aside>
    <!-- end left-side -->
    <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  
</header>
<!-- end header -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">


             
              <div class="post wow fadeIn">
                <figure class="post-image">
                    <img src="images/snapshot.jpeg" alt="Image">
                </figure>
                <!-- end news-image -->
                <div class="post-content">
                    <div class="inner">
                        <h3 class="post-title"><a href="#">Snapshot</a></h3>
                        <div class="post-author"><img src="images/dummy.png" alt="Image">
                            <span>conducted by <a href="#">Dhrubo jyoti gogoi</a></span></div>
                        <p class="post-text">
                          <li>Online Snapshot competition</li>
                          <li>Winner prize worth : Rs 10,000</li>
                            <li>Last date of submission : 9th November</li> 
                           <li>Phone number : ‎+91 88118 37850</li>
                           <!-- <li></li> -->

                        </p>
                        <div class="custom-link wow fadeIn">
                                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableSnapshotRules">
                                  <div class="lines"> <span></span> <span></span> </div>
                                  <b>Rules</b>
                                </a>
                        </div>
                        <div class="custom-link wow fadeIn">
                          <a href="#" data-toggle="modal" data-target="#exampleModalScrollableSnapshot">
                            <div class="lines"> <span></span> <span></span> </div>
                            <b>Registration</b>
                          </a>
                  </div>
                    </div>
                </div>
            </div>

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/doodleArt.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <h3 class="post-title"><a href="#">Doodling</a></h3>
                            <div class="post-author"><img src="images/dummy.png" alt="Image">
                                <span>conducted by <a href="#">Nandini Arora</a></span></div>
                            <p class="post-text">
                               <!-- <li>Email:meetgaurob@gmail.com</li> -->
                               <li>Online Doodle Art competition</li>
                               <li>Date:8th November</li>
                               <li>Phone number : +91 9706781731</li>
                               <!-- <li>Venue : Electrical & Communication Building</li> -->
                            </p>
                            <div class="custom-link wow fadeIn">
                                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableDoodleRules">
                                  <div class="lines"> <span></span> <span></span> </div>
                                  <b>Rules</b>
                                </a>
                        </div>
                            <div class="custom-link wow fadeIn">
                                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableDoodle">
                                      <div class="lines"> <span></span> <span></span> </div>
                                      <b>Registration</b>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end post -->
                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/canvas.jpeg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <h3 class="post-title"><a href="#">Abstract Painting </a></h3>
                            <div class="post-author"><img src="images/dummy.png" alt="Image">
                                <span>conducted by <a href="#">Pradipta Gogoi</a></span></div>
                            <p class="post-text">
                               <!-- <li>Email:meetgaurob@gmail.com</li> -->
                               <li>Online Abstract Painting competition</li> 
                               <li>9th November</li>
                               <li>Venue : Electrical & Communication Building</li>

                            </p>
                            <div class="custom-link wow fadeIn">
                                    <a href="#" data-toggle="modal" data-target="#AbstractPaintingReg">
                                      <div class="lines"> <span></span> <span></span> </div>
                                      <b>Registration</b>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/artExpo.jpeg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <h3 class="post-title"><a href="#">Art Expo</a></h3>
                            <div class="post-author"><img src="images/dummy.png" alt="Image">
                                <span>conducted by <a href="#">Buddha Das</a></span></div>
                            <!-- <div class="post-author"><img src="images/dummy.png" alt="Image">
                                <span>conducted by <a href="#">Debashis gogoi</a></span></div> -->

                            <p class="post-text">
                               <!-- <li>Email:meetgaurob@gmail.com</li> -->
                               <li>Phone number : +91 91017 56496</li>
                               <li>Venue : DUIET Core Building</li>

                            </p>
                            <div class="custom-link wow fadeIn">
                                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableArtExpo">
                                      <div class="lines"> <span></span> <span></span> </div>
                                      <b>Registration</b>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="post wow fadeIn">
                  <figure class="post-image">
                      <img src="images/snapshot.jpeg" alt="Image">
                  </figure>
                  <!-- end news-image -->
                  <div class="post-content">
                      <div class="inner">
                          <h3 class="post-title"><a href="#">Talent Hunt</a></h3>
                          <div class="post-author"><img src="images/dummy.png" alt="Image">
                              <span>conducted by <a href="#">Susmita Saikia</a></span></div>
                          <p class="post-text">
                             <!-- <li>Email:meetgaurob@gmail.com</li> -->
                             <li>Phone number : ‎+91 78969 03017</li>
                             <!-- <li></li> -->
  
                          </p>
                          <div class="custom-link wow fadeIn">
                                  <a href="#" data-toggle="modal" data-target="#exampleModalScrollableTalent">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <b>Rules</b>
                                  </a>
                          </div>
                          <div class="custom-link wow fadeIn">
                              <a href="#" data-toggle="modal" data-target="#exampleModalScrollableTalentRegistration">
                                <div class="lines"> <span></span> <span></span> </div>
                                <b>Registration</b>
                              </a>
                      </div>
                      </div>
                  </div>
              </div>

                <div class="pagination fadeIn">
                    <a href="#"></a>
                </div>
                <!-- end pagination -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<div class="modal fade" id="exampleModalScrollableTalent" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Rules</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body">
                <div>
                  <li>Register in the website and pay the registration fee(Rs100) via google pay( SUSMITA SAIKIA:+91 78969 03017) with the event name as the message.
                    Display your talent by either tagging Auxesis Instagram Page/Facebook or Whatsapp.
                  </li>
                  <li>The competition is based on any kind of talent.Individual as well as group performances are allowed</li>
                  <li>Performing time is 3-5 minutes.For fields like photography,selfie,paintings etc. tag/post on facebook,Instagram page of Auxesis.
                    One can also send on whatsapp( SUSMITA SAIKIA:+91 78969 03017)
                  </li>
                  <li>One participant can showcase only in one field.Open for all age group</li>
                  <li>No abusive contents allowed</li>
                  <li>Committee's decision will be full and final</li>
                  <li>Prize worth of Rs3000 will be given to the winner including exciting gift hampers along with authorised certificates.Also,winner of every specific field will get free entry pass to the DJ night,
                    free registration fee to any one event of Auxesis V9.O,exciting gift hampers along with authorised certificates
                  </li>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
      </div>
  </div>
</div>

<div class="modal fade" id="exampleModalScrollableTalentRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Talent Hunt Registrations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/creativity/talenthunt" method="POST">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name" placeholder="your name" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Address</span>
                          </div>
                          <input type="text" class="form-control" id="address" name="address" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Contact Number</span>
                            </div>
                            <input type="text" class="form-control" id="cn" name="cn" placeholder="your phone number" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                          </div>
                          <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                          <br>
                        </div>
                        <p> Paymet will be accepted via Google pay/offline</p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalScrollableDoodle" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Doodle Registrations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/creativity/doodling" method="POST">
                    <div class="modal-body">
                        <div>
                            <li>Payment should be done through UPI ID : dhrubajyotig5@okicici(Google pay, Phone pay, Paytm, BHIM UPI).</li>
                            <li> Screenshot of the payment will be required while claiming the prizes/certificates.</li>
                        </div>
                        <br>
                        <div class="input-group mb-3">                          
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="your name" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Email</span>
                              </div>
                              <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                </div>
                                <input type="text" class="form-control" id="cn" name="cn" placeholder="your phone number" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                              </div>
                              <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                              <br>
                            </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal fade" id="exampleModalScrollableDoodleRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Doodle Rules</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div class="modal-body">
                    <li>The theme will be given at the day of the competition in the auxesis website at 10:30 am.</li>
                    <li>The participants are supposed to submit their artworks before 3:30 pm.</li>
                    <li>Artworks should be submitted to auxesiscreativity@gmail.com</li>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalScrollableArtExpo" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Art Expo Registrations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/creativity/artexpo" method="POST">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="your name" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Email</span>
                              </div>
                              <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                </div>
                                <input type="text" class="form-control" id="cn" name="cn" placeholder="your phone number" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                              </div>
                              <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                          </div>
                          <p> Paymet will be accepted offline at the day of the event</p>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal fade" id="AbstractPaintingReg" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Abstract Painting Registrations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/creativity/canvas" method="POST">
                    <div class="modal-body">
                      <div>
                          <li>Payment should be done through UPI ID : dhrubajyotig5@okicici(Google pay, Phone pay, Paytm, BHIM UPI).</li>
                          <li> Screenshot of the payment will be required while claiming the prizes/certificates.</li>
                      </div>
                      <br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="your name" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Email</span>
                              </div>
                              <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                </div>
                                <input type="text" class="form-control" id="cn" name="cn" placeholder="your contact number" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                              </div>
                              <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                          </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal fade" id="exampleModalScrollableSnapshotRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Snapshot Rules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <li>
              The contests are open for online submissions 
              only, through the contest page available on Dibrugarh University/auxesis v9.0 contests
          </li>
          <li>Submissions will not be accepted once the deadline lapses.</li>
          <li> Images should be no larger than 2MB. Photos must be in JPEG format.  </li>
          <li> You are required to provide a unique title & description for each image submitted.</li>
          <li>All submitted photos must contain the original EXIF metadata information. However, there must be no border(s), logo(s), copyright
             marks, identifying marks, or any other visible references and/or marks on the image.  </li>
          <li>You are required to provide a unique title & description for each image submitted.</li>
          <li> Basic editing, including color enhancement, the use of filters, and cropping of the Photo(s) is acceptable, provided
             any such editing does not affect the authenticity and/or genuineness of the Photo(s).</li>
          <li>Advanced editing used to create illusions, deceptions and/or manipulations, and 
            the adding and removing of significant elements within the frame is prohibited.  </li>
          <li>Photos that portray or otherwise include inappropriate and/or offensive content,
             including provocative nudity, violence, human rights and/or environmental violation, 
             and/or any other contents deemed to be contrary to the law, religious, cultural & moral 
             traditions and practices of India, are strictly prohibited and will be immediately discarded.</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalScrollableSnapshot" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Snapshot Registrations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/creativity/snapshot" method="POST">
                <div class="modal-body">
                    <div>
                        <li>Payment should be done through UPI ID : dhrubajyotig5@okicici(Google pay, Phone pay, Paytm, BHIM UPI).</li>
                        <li> Screenshot of the payment will be required while claiming the prizes/certificates.</li>
                    </div>
                    <br>
                    <div class="input-group mb-3">                                         
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name" placeholder="your name" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                          </div>
                          <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Address</span>
                            </div>
                            <input type="text" class="form-control" id="address" name="address" placeholder="your address" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Contact Number</span>
                            </div>
                            <input type="text" class="form-control" id="cn" name="cn" placeholder="your phone number" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                          
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                          </div>
                          <input type="text" class="form-control" placeholder="200Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Coming Soon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <li>
                Currently this link is still in development phase, as we are updating our site to a 
                completely new and fresh look. Please come back after a couple of days. 
                <b style="color:brown"> We are sorry for this inconvenience.</b>
            </li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- end news -->

<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>
</html>
