<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#e8293b"/>
    <meta name="HandheldFriendly" content="true" />
    <title>Auxesis | Technical Events</title>
    <meta name="author" content="Auxesis">
    <meta name="description" content="Auxesis">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">
    
    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Auxesis">
    <meta property="og:image" content="../../www.themezinho.net/brabus/preview.png">
    <meta property="og:site_name" content="auxesis.in">
    <meta property="og:title" content="auxesis.in">
    <meta property="og:type" content="website">
    <meta property="og:url" content="auxesis.in">
    
    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@auxesis">
    <meta name="twitter:creator" content="@auxesis">
    <meta name="twitter:title" content="Auxesis">
    <meta name="twitter:description" content="Auxesis">
    <meta name="twitter:image" content="../../www.themezinho.net/brabus/preview.png">
    
    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="inner" data-tilt data-tilt-perspective="2000">
    <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
    <span class="typewriter" id="typewriter"></span> </div>
  <!-- end inner --> 
</div>
<!-- end preloader -->
<div class="transition-overlay">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
  <div class="left"> <a href="/">Auxesis</a> </div>
  <!-- end left -->
  <div class="logo"> <a href="#"><img src="images/MainLogo.png" alt="Image"></a> </div>
  <!-- end logo -->
  <div class="right">
    <ul class="language">
      <li><a href="#">&nbsp</a></li>
      <li><a href="#">&nbsp</a></li>
    </ul>
    <div class="hamburger-menu"><b>MENU</b>
      <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    </div>
    <!-- end hamburger-menu --> 
  </div>
  <!-- end right --> 
</nav>
<!-- end navbar -->
<header class="page-header">
  <div class="video-bg">
    <!-- <video src="videos/video2.mp4" muted loop autoplay></video> -->
    <img src="images/eventMain01.jpg" alt="Image">
  </div>
  <!-- end video-bg -->
  <div class="container">
  	<h1>Cultural Events</h1>
  </div>
  <!-- end container -->
  <aside class="left-side">
      <ul>
        <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
        <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
        <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
      </ul>
    </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  <!-- end sound -->
</header>
<!-- end header -->
<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
      </div>
      <div class="col-12">
         <div class="project-box wow fadeIn" data-bg="#faf8ed">
          <figure>
            <a href="images/ranshak.jpeg" data-fancybox>
              <img src="images/ranshak.jpeg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
             <div class="inner">
              <h3><span>Ransack</span></h3>
              <h1>The battle of bands</h1>
              <br>
              <li>Gopanjal Nath</li>
              <li>Contact Number : +91 9678 32 4556</li>
              <br>
                <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
                <br>
                
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/fashion.jpg" data-fancybox>
            <img src="images/fashion.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Kallisteia</span> </h3>
              <h1>Fashion Show competition</h1>
              <!-- <br>
              <li>Contact Number : +91 9678 32 4556</li>
              <br> -->
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        
        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ebf8f3">
          <figure>
            <a href="images/culturalExchange.jpg" data-fancybox>
            <img src="images/culturalExchange.jpg" alt="Image">
           </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Cultural</span>Exchange</h3>
              <h1>Folk/Contemporary dance</h1>
              <br>
                <li>Moumita Dey</li>
                <li>Contact Number : +91 8638219294</li>
              <br>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        <!-- end project-box --> 
        <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="images/drama.jpg" data-fancybox>
              <img src="images/drama.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Xobdo</span></h3>
              <h1>Drama Competition</h1>
              <br>
                <li>Moumita Dey</li>
                <li>Contact Number : +91 8638219294</li>
              <br>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="images/goStreetz.jpeg" data-fancybox>
              <img src="images/goStreetz.jpeg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Go</span>Streetz</h3>
              <h1>Free style dance competition</h1>
              <br>
                <li>Moumita Dey</li>
                <li>Contact Number : +91 8638219294</li>
              <br>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="images/euphonicsN.jpg" data-fancybox>
              <img src="images/euphonicsN.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Euphonics</span></h3>
              <h1>Solo/Group singing competition</h1>
              <br>
                <li>Kabyashree Gohain</li>
                <li>Contact Number : +91 8638 11 5217</li>
              <br>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="images/chromaticWaltz.jpeg" data-fancybox>
              <img src="images/chromaticWaltz.jpeg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Chromatic</span>Waltz</h3>
              <h1>The last night show</h1>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Buy Ticket</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="images/roots.jpg" data-fancybox>
              <img src="images/roots.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Roots</span></h3>
              <h1>Bihu competition</h1>
              <br>
                <li>Moumita Dey</li>
                <li>Contact Number : +91 8638219294</li>
              <br>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
      </div>
    </div>
  </div>
</section>


<!-- registration -->
<div class="modal fade" id="exampleModalScrollableRanshak" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Ranshak Registrations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/cultural/ranshak" method="POST">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                      </div><br>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                          </div>
                          <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        </div><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Contact Number</span>
                            </div>
                            <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                          </div><br>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                          </div>
                          <input type="text" class="form-control" placeholder="1000Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                      </div><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalScrollableFashion" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Kallisteia Registrations</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/cultural/kallestia" method="POST">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                      </div><br>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                          </div>
                          <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        </div><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Contact Number</span>
                            </div>
                            <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                          </div><br>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                          </div>
                          <input type="text" class="form-control" placeholder="1000Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                      </div><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
          </div>
      </div>
    </div>


    <div class="modal fade" id="exampleModalScrollableCulturalExchange" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Cultural Exchange Registrations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/cultural/culturalExchange" method="POST">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                          </div>

                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Email</span>
                              </div>
                              <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                </div>
                                <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                </div>
                                <input type="text" class="form-control" id="regfees" name="regfees" placeholder="1500Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                              </div>

                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Payment Link: <a href="#" style="color: #0c5460">Instamojo</a></h4>
                                <p>Please open in a new tab!</p>
                                <hr>
                                <p class="mb-0">paste the paymentID in the following section</p>
                            </div>
    
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Payment ID</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Payment ID" aria-label="Username" aria-describedby="basic-addon1" readonly>
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
      </div>


      <div class="modal fade" id="exampleModalScrollableXobde" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">Xobdo Registration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/cultural/xobde" method="POST">
                      <div class="modal-body">
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Name</span>
                              </div>
                              <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">Email</span>
                                </div>
                                <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                  </div>
                                  <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                  </div>
                                  <input type="text" class="form-control" id="regfees" name="regfees" placeholder="150Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                                </div>
  
                              <div class="alert alert-success" role="alert">
                                  <h4 class="alert-heading">Payment Link: <a href="https://imjo.in/nAKwxr" style="color: #0c5460">Instamojo</a></h4>
                                  <p>Please open in a new tab!</p>
                                  <hr>
                                  <p class="mb-0">paste the paymentID in the following section</p>
                              </div>
      
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Payment ID</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Payment ID" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Register</button>
                      </div>
                  </form>
              </div>
          </div>
        </div>


        <div class="modal fade" id="exampleModalScrollableGoStreetz" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Go Streetz Registrations</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="/cultural/goStreets" method="POST">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">Name</span>
                                </div>
                                <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                              </div><br>
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Email</span>
                                  </div>
                                  <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                    </div>
                                    <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                  </div><br>
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="1000Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                              </div><br>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>



          <div class="modal fade" id="exampleModalScrollableEuphonics" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Euphonics Registrations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="/cultural/euphonics" method="POST">
                          <div class="modal-body">
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                  </div>
                                  <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div><br>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" id="email" name="email" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">.com</span>
                                  </div>
                                </div> <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                    </div>
                                    <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                  </div><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="1000Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                                </div><br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Register</button>
                          </div>
                      </form>
                  </div>
              </div>
            </div>


            <div class="modal fade" id="exampleModalScrollableChromaticWaltz" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">ChromaticWaltz Registrations</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form action="/cultural/chromaticWaltz" method="POST">
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                  </div><br>
                                  <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Email</span>
                                      </div>
                                      <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                    </div><br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                        </div>
                                        <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                      </div><br>
                                  <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="1000Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                                  </div><br>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>

              <div class="modal fade" id="exampleModalScrollableRoots" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalScrollableTitle">Roots Registrations</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form action="/cultural/Roots" method="POST">
                              <div class="modal-body">
                                  <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Name</span>
                                      </div>
                                      <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                      </div>
                                      <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Contact Number</span>
                                          </div>
                                          <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                          </div>
                                          <input type="text" class="form-control" id="regfees" name="regfees" placeholder="200Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                                        </div>
          
                                      <div class="alert alert-success" role="alert">
                                          <h4 class="alert-heading">Payment Link: <a href="https://imjo.in/FcWJU5" style="color: #0c5460">Instamojo</a></h4>
                                          <p>Please open in a new tab!</p>
                                          <hr>
                                          <p class="mb-0">paste the paymentID in the following section</p>
                                      </div>
              
                                      <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1">Payment ID</span>
                                          </div>
                                          <input type="text" class="form-control" placeholder="Payment ID" aria-label="Username" aria-describedby="basic-addon1">
                                      </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Register</button>
                              </div>
                          </form>
                      </div>
                  </div>
</div>


<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Rules and Regulations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <li>
             Coming Soon
          </li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>
</html>