<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#e8293b"/>
    <meta name="HandheldFriendly" content="true" />
    <title>Auxesis | Technical Events</title>
    <meta name="author" content="Auxesis">
    <meta name="description" content="Auxesis">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">
    
    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Auxesis">
    <meta property="og:image" content="../../www.themezinho.net/brabus/preview.png">
    <meta property="og:site_name" content="auxesis.in">
    <meta property="og:title" content="auxesis.in">
    <meta property="og:type" content="website">
    <meta property="og:url" content="auxesis.in">
    
    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@auxesis">
    <meta name="twitter:creator" content="@auxesis">
    <meta name="twitter:title" content="Auxesis">
    <meta name="twitter:description" content="Auxesis">
    <meta name="twitter:image" content="../../www.themezinho.net/brabus/preview.png">
    
    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="inner" data-tilt data-tilt-perspective="2000">
    <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
    <span class="typewriter" id="typewriter"></span> </div>
  <!-- end inner --> 
</div>
<!-- end preloader -->
<div class="transition-overlay">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
  <div class="left"> <a href="/">Auxesis</a> </div>
  <!-- end left -->
  <div class="logo"> <a href="#"><img src="images/MainLogo.png" alt="Image"></a> </div>
  <!-- end logo -->
  <div class="right">
    <ul class="language">
      <li><a href="#">&nbsp</a></li>
      <li><a href="#">&nbsp</a></li>
    </ul>
    <div class="hamburger-menu"><b>MENU</b>
      <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    </div>
    <!-- end hamburger-menu --> 
  </div>
  <!-- end right --> 
</nav>
<!-- end navbar -->
<header class="page-header">
  <div class="video-bg">
    <!-- <video src="videos/video2.mp4" muted loop autoplay></video> -->
    <img src="images/eventMain01.jpg" alt="Image">
  </div>
  <!-- end video-bg -->
  <div class="container">
  	<h1>EVENTS</h1>
  	<p>HOP ON TO VARIETIES!</p>
  </div>
  <!-- end container -->
  <aside class="left-side">
      <ul>
        <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
        <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
        <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
      </ul>
    </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
</header>
<!-- end header -->
<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <!-- <h6>SMOOTH INTERFACE INTERACTION</h6> -->
        <h2 data-text="Events">Step out of your comfort zone and try new things</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-12">
         <div class="project-box wow fadeIn" data-bg="#faf8ed">
          <figure>
            <a href="images/speakers.jpg" data-fancybox>
              <img src="images/speakers.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
             <div class="inner"> <!--<small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small> -->
              <h3><span>Technical</span>Events</h3>
              <div class="custom-link">
                <a href="/technicalevents">
                  <div class="lines">
                    <span></span> <span></span>
                  </div>
                  <!-- end lines --> 
                  <b>Learn More</b>
                </a>
              </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/lagom.jpg" data-fancybox>
            <img src="images/lagom.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner"> 
              <h3><span>Creativity</span>Events</h3>
              <div class="custom-link"> <a href="/creativity">
                <div class="lines"> <span></span> <span></span></div>
                <!-- end lines --> 
                <b>Learn More</b></a> </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        <!-- end project-box -->
        <!-- <div class="project-box wow fadeIn" data-bg="#ebf8f3">
          <figure>
            <a href="#" data-fancybox>
            <img src="images/photography.jpg" alt="Image">
           </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Brain</span>Storming Events</h3>
              <div class="custom-link"> <a href="/management">
                <div class="lines"> <span></span> <span></span> </div>
                <b>Register Here</b></a> </div>
            </div>
          </div>
        </div> -->
        <!-- end project-box --> 
        <!-- <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="#" data-fancybox>
              <img src="images/aveja.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Funology</span>Events</h3>
              <div class="custom-link"> <a href="/funology">
                <div class="lines"> <span></span> <span></span> </div>
                <b>Learn More</b></a> </div>
            </div>
          </div>
        </div> -->
        <!-- end project-box --> 
        <div class="project-box wow fadeIn" data-bg="#e5f2f7">
          <figure>
            <a href="images/roots.jpg" data-fancybox>
              <img src="images/roots.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Cultural</span>Events</h3>
              <div class="custom-link"> <a href="/cultural">
                <div class="lines"> <span></span> <span></span> </div>
                <!-- end lines --> 
                <b>Learn More</b></a> </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        <!-- end project-box --> 
      
        <!-- end project-box --> 
        <!-- <div class="project-box wow fadeIn" data-bg="#dbe3f1">
          <figure> <a href="images/works07.jpg" data-fancybox><img src="images/works07.jpg" alt="Image"></a></figure>
          <div class="content-box">
            <div class="inner"> 
              <h3><span>Exhibition</span>Event</h3>
              <div class="custom-link"> <a href="/exhibitions">
                <div class="lines"> <span></span> <span></span> </div>
                <b>LEARN MORE</b></a> </div>
            </div>
          </div>
        </div> -->
        <!-- end project-box --> 
        <div class="project-box wow fadeIn" data-bg="#e8d7f1">
          <figure> <a href="images/sports.jpg" data-fancybox><img src="images/sports.jpg" alt="Image"></a></figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Sports</span> </h3>
              <div class="custom-link"> <a href="/sports">
                <div class="lines"> <span></span> <span></span> </div>
                <!-- end lines --> 
                <b>LEARN MORE</b></a> </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        <!-- end project-box --> 
        <!-- <div class="project-box wow fadeIn" data-bg="#f1dad6">
          <figure> <a href="images/works09.jpg" data-fancybox><img src="images/works09.jpg" alt="Image"></a></figure>
          <div class="content-box">
            <div class="inner"> 
              <h3><span>School</span>& Module</h3>
              <div class="custom-link"> <a href="/schoolNmodule">
                <div class="lines"> <span></span> <span></span> </div>
                <b>LEARN MORE</b></a> </div>
            </div>
          </div>
        </div> -->
        <!-- end project-box --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end works -->

<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>

<!-- Mirrored from themezinho.net/brabus/works.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Aug 2019 15:51:14 GMT -->
</html>