<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#e8293b"/>
    <meta name="HandheldFriendly" content="true" />
    <title>Auxesis | Technical Events</title>
    <meta name="author" content="Auxesis">
    <meta name="description" content="Auxesis">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">
    
    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Auxesis">
    <meta property="og:site_name" content="auxesis.in">
    <meta property="og:title" content="auxesis.in">
    <meta property="og:type" content="website">
    <meta property="og:url" content="auxesis.in">
    
    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@auxesis">
    <meta name="twitter:creator" content="@auxesis">
    <meta name="twitter:title" content="Auxesis">
    <meta name="twitter:description" content="Auxesis">
    
    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="inner" data-tilt data-tilt-perspective="2000">
    <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
    <span class="typewriter" id="typewriter"></span> </div>
  <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar fixed-top">
  <div class="left"> <a href="/">Auxesis</a> </div>
  <!-- end left -->
  <div class="logo"> <a href="/"><img src="images/MainLogo.png" alt="Image"></a> </div>
  <!-- end logo -->
  <div class="right">

    <ul class="language">
      <li><a href="#"> &nbsp</a></li>
      <li><a href="#"> &nbsp</a></li>
    </ul>

    <div class="hamburger-menu" id="hamburger-menu"><b>MENU</b>
      <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    </div>
    <!-- end hamburger-menu -->
  </div>
  <!-- end right -->
</nav>
<!-- end navbar -->
<header class="header">
  <aside class="left-side">
    <ul>
      <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
      <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
      <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
    </ul>
  </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  <!-- end scroll-down -->
  <!-- <div class="sound"> <span> SOUND </span>
    <div class="equalizer">
      <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
    </div>
  </div> -->
  <!-- end sound -->

  <div class="swiper-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-tilt data-tilt-max="5" data-tilt-speed="500" data-tilt-perspective="1500">
        <div class="slide-inner bg-image" data-background="images/second.jpg">
          <div class="container">
            <div class="tagline"><span>01</span>
              <h6>Imagine Innovate Create</h6>
            </div>
            <!-- end tagline -->
            <h1>Auxesis<br>
              <span>V9.0</span></h1>
            <div class="slide-btn"> <a href="#">
              <div class="lines"> <span></span> <span></span> </div>
              <!-- end lines -->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 104 104" enable-background="new 0 0 104 104" xml:space="preserve">
                <circle class="video-play-circle" fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="1" cx="52" cy="52" r="50"/>
              </svg>
              <b>23rd to 26th October</b> </a> </div>
            <!-- end slide-btn --> 
          </div>
          <!-- end container --> 
        </div>
        <!-- end slide-inner --> 
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide" data-tilt data-tilt-max="5" data-tilt-speed="500" data-tilt-perspective="1500">
        <div class="slide-inner bg-image" data-background="images/main02.jpg">
          <div class="container">
            <div class="tagline"><span>02</span>
              <h6>Imagine Innovate Create</h6>
            </div>
            <!-- end tagline -->
            <h1>Auxesis<br>
              <span>V9.0</span></h1>
            <div class="slide-btn"> <a href="#">
              <div class="lines"> <span></span> <span></span> </div>
              <!-- end lines -->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 104 104" enable-background="new 0 0 104 104" xml:space="preserve">
                <circle class="video-play-circle" fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="1" cx="52" cy="52" r="50"/>
              </svg>
              <b>23rd to 26th October</b> </a> </div>
            <!-- end slide-btn --> 
          </div>
          <!-- end container --> 
        </div>
        <!-- end slide-inner --> 
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide" data-tilt data-tilt-max="5" data-tilt-speed="500" data-tilt-perspective="1500">
        <div class="slide-inner bg-image" data-background="images/mainThird.jpg">
          <div class="container">
            <div class="tagline"><span>03</span>
              <h6>IMAGINE INNOVATE CREATE</h6>
            </div>
            <!-- end tagline -->
            <h1>Auxesis<br>
              <span>V9.0</span></h1>
            <div class="slide-btn"> <a href="#">
              <div class="lines"> <span></span> <span></span> </div>
              <!-- end lines -->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 104 104" enable-background="new 0 0 104 104" xml:space="preserve">
                <circle class="video-play-circle" fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="1" cx="52" cy="52" r="50"/>
              </svg>
              <b>23rd to 26th October</b> </a> </div>
            <!-- end slide-btn --> 
          </div>
          <!-- end container --> 
        </div>
        <!-- end slide-inner --> 
      </div>
      <!-- end swiper-slide --> 
    </div>
    <!-- end swiper-wrapper -->
    <div class="swiper-pagination"></div>
    <!-- end swiper-pagination -->
    <div class="swiper-fraction"></div>
    <!-- end swiper-fraction --> 
  </div>
</header>
<!-- end header -->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
         <!-- <h6>IMAGINE CREATE INNOVATE</h6>  -->
        <h2 data-text="Auxesis">ABOUT  </h2>
      </div>
      <!-- end col-12 -->
      <div class="col-lg-5 wow fadeIn">
        <h4>To challenge history and create
            a plethora of exhilarating events.</h4>
      </div>
      <!-- end col-5 -->
      <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s">
        <p>Auxesis is a legacy that challenges history for a better
          competition. This techno-cultural cum management fest of Dibrugarh University Institute of Engineering and Technology is one of the most popular
          college fests in India. Auxesis is a plethora of exhilarating events that aims to inspire the zealous
          youth to showcase their uniqueness to the world. It is a consortium of live music, possibilities,
          enriching workshops and competitions that appeals the youth to discover new possibilities. </p>
        <p>Auxesis in its past eight years has reached as an indefinable fest and this time we aim to conquer
          the peak of the mountain of success. </p>
        <!-- <div class="custom-link wow fadeIn">
          <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
            <div class="lines"> <span></span> <span></span> </div>
            <b>READ TO LEARN</b>
          </a>
        </div> -->
        <!-- end custom-link -->
      </div>
      <!-- end col-7 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end intro -->
<section class="services-content-block">
  <div class="video-bg">
    <img src="images/schedule01.jpg" style="height:100%"></img>
  </div>
  <!-- end video-bg -->
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <!-- <h6>SMOOTH INTERFACE INTERACTION</h6> -->
        <h2>EVENT SCHEDULE</h2>
        <div class="left"><small>01</small><span></span></div><h4>INAUGURATION</h4>
      </div>
      <!-- end col-12 -->
      <div class="col-md-4 wow fadeIn" data-wow-delay="0s">
        <div class="content-box">
          <div class="left"><small>02</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>24th October</h4>
            <ul>
              <li>
                <div class="left"><small>9AM</small></div>
                RoboSoccer (DUIET Core Building)
            </li>
            <li>
              <div class="left"><small>9AM</small></div>
              CS.GO (Electronics and Communication Building)
          </li>
          <li>
            <div class="left"><small>9AM</small></div>
            FIFA_19 ,Tekken,PUBG,Mobile Legends
                (Mechanical Building)
        </li>
              <li><div class="left"><small>10AM </small></div> Euphonics (University Park) </li>
              <li><div class="left"><small>10AM</small></div>Cultural-Exchange (Bishnu Rabha Bhawan)</li>
              <li><div class="left"><small>11AM</small></div> Science Model Competition  (Mechanical Building)</li>
              <li><div class="left"><small>4PM</small></div> Roots (Bishnu Rabha Bhawan)</li>
              <li><div class="left"><small>6:30PM </small></div> Lagom(DUIET Open Gallery)</li>
            </ul>
          </div>
          <!-- end right -->
        </div>
        <!-- end content-box -->
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.05s">
        <div class="content-box">
          <div class="left"><small>03</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>25th October</h4>
            <ul>
              <li>
                  <div class="left"><small>9AM</small></div>
                  Robo Assult (DUIET Core Building)
              </li>
              <li>
                <div class="left"><small>9AM</small></div>
                CS.GO (Electronics and Communication Building)
            </li>
            <li>
              <div class="left"><small>9AM</small></div>
               FIFA_19 ,Tekken,PUBG,Cubicon
                  (Mechanical Building)
          </li>
              
              <li>
                  <div class="left"><small>10AM</small></div>
                  Xobdo (Bishnu Rabha Bhawan)
              </li>
              <li>
                  <div class="left"><small>11AM</small></div>
                  Vibgyor (Mechanical Building)
              </li>
              <li>
                  <div class="left"><small>2PM</small></div>
                  Blink (Indira Miri conference Hall)
              </li>
              <li>
                  <div class="left"><small>3PM</small></div>
                  Kallistia (Open Play Ground)
              </li>
            </ul>
          </div>
          <!-- end right -->
        </div>
        <!-- end content-box -->
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.10s">
        <div class="content-box">
          <div class="left"><small>04</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>26th October</h4>
            <ul>
              <li><div class="left"><small>9AM </small></div> Amphibian Bot (DUIET Core Building) </li>
              <li>
                <div class="left"><small>9AM</small></div>
                CS.GO (Electronics and Communication Building)
            </li>
            <li>
              <div class="left"><small>9AM</small></div>
              FIFA_19 ,Tekken,PUBG,Mobile Legends
                  (Mechanical Building)
          </li>
              <li><div class="left"><small>11AM </small></div> Trivial Paradox (Indira Miri Conference Hall) </li>
              <li><div class="left"><small>12AM</small></div> Go Streetz (DUIET Core Building)</li>
              <li><div class="left"><small>12AM </small></div> Ransack (Open Play Ground)</li>
              <li><div class="left"><small>6PM </small></div> Can you sell it?(Old Play Ground)</li>
              <li><div class="left"><small>8PM</small></div> Chromatic Waltz(Open Play Ground)</li>
            </ul>
          </div>
          <!-- end right -->
        </div>
        <!-- end content-box -->
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end services-content-block -->
<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <!-- <h6>SMOOTH INTERFACE INTERACTION</h6> -->
        <h2 data-text="Events">OUR MAIN EVENTS</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-12">
       
         <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ebf8f3">
          <figure> <a href="images/tseries.jpg" data-fancybox>
            <img src="images/tseries.jpeg" alt="Image"></a></figure>
          <div class="content-box">
            <div class="inner">
               <h1>21st-22nd September</h1>
              <h3><span>T-Series Stage Works</span></h3>
              <p><strong>Academy of Film, Music & Performing Arts</strong>
              </p>
              <div class="custom-link"> <a href="/cultural">
                <div class="lines"> <span></span> <span></span> </div>
                <b>LEARN MORE</b></a> </div>
            </div>
          </div>
        </div>


        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/chromaticWaltz.jpeg" data-fancybox>
              <img src="images/chromaticWaltz.jpeg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
               <h1>26th October</h1>
              <h3><span>Chromatic </span>Waltz</h3>
              <br><p><strong>The Last Night Show.</strong>
              </p>
              <div class="custom-link wow fadeIn"> <a href="/cultural">
                  <div class="lines"> <span></span> <span></span> </div>
                  <b>learn More</b></a> </div>
                </a> </div>
            </div>
          </div>
        </div>


        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ebf8f3">
          <figure> <a href="images/ranshak.jpeg" data-fancybox>
            <img src="images/ranshak.jpeg" alt="Image"></a></figure>
          <div class="content-box">
            <div class="inner">
               <h1>26th October</h1>
              <h3><span>Ransack</span></h3>
              <br><p><strong>THE BATTLE OF BANDS</strong>
              </p>
              <div class="custom-link wow fadeIn"> <a href="/cultural">
                  <div class="lines"> <span></span> <span></span> </div>
                  <b>learn More</b></a> </div>
            </div>
          </div>
        </div>

        <div class="project-box wow fadeIn" data-bg="#ebf8f3">
          <figure> <a href="images/lagom.jpeg" data-fancybox>
            <img src="images/lagom.jpeg" alt="Image"></a></figure>
          <div class="content-box">
            <div class="inner">
               <h1>24th October</h1>
              <h3><span>Lagom</span></h3>
              <br><p><strong>Open Mic</strong>
              </p>
              <div class="custom-link wow fadeIn"> <a href="/schoolNmodule">
                  <div class="lines"> <span></span> <span></span> </div>
                  <b>learn More</b></a> </div>
            </div>
          </div>
        </div>

        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/fashion.jpg" data-fancybox>
            <img src="images/fashion.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
                <h1>25th October</h1>
              <h3><span>Kallisteia</span> </h3>
              <h1>Fashion Show competition</h1>
              <!-- <br>
              <li>Contact Number : +91 9678 32 4556</li>
              <br> -->
              <div class="custom-link wow fadeIn"> <a href="/cultural">
                <div class="lines"> <span></span> <span></span> </div>
                <!-- end lines -->
                <b>learn More</b></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work-with-us">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <h1>v9.O Theme </h1>
        <h2 data-text="Prismic Dreams"> PRISMIC DREAMS</h2>
      </div>
      <!-- end col-12 -->
       <div> <!--class="col-lg-5 col-md-8 wow fadeIn"-->
        <h12>We all know what a prism is and what it does to white light. There're 2 protagonists here; the light and the prism.
            Without each other both are invalid. For white light to be differentiated into its 7 constituent colors (vibgyor),
            it has to undergo dispersion through the prism.For example, the engineers are large in number,they might be demotivated
            by the memes that are made on them pointing at them that their career
            choice is a joke.But will those memes be able to stop us?
            An engineer can make it to acting (Rowan Atkinson), he can make it to writing novels (Chetan Bhagat), he can
            make it to singing (Shankar Mahadevan), he can make it to cricket (Anil Kumble) and what not. Seriously no
            bounds. But to be successful in their respective fields they need a platform without which
            they won't be getting much of the spotlight. Just as previously mentioned about the white light dispersion without the prism the white light will be just plain white light! So, for the youth who are very much
            passionate about their hobby and enthusiastic, Auxesis will give them the platform to showcase their talents
            to a huge audience.</h12>
      <!-- end col-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end work-with-us -->
<section class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 wow fadeIn">
        <!-- <h6>START WORKING WITH US</h6> -->
        <h2>Our Sponsers</h2>
         <!-- <h4>Do you want to be our partner?</h4>  -->
        <div class="custom-link wow fadeIn"> <a href="#" data-toggle="modal" data-target="#exampleModalScrollableS">
          <div class="lines"> <span></span> <span></span> </div>
          <!-- end lines -->
          <b>BE OUR SPONSER</b></a> </div>
        <!-- end custom-link -->
      </div>
      <!-- end col-4 -->

      <!-- SPONSOR -->
      <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s">
        <ul>
          <!-- <li><img src="images/logo02.png" alt="Image"><small>LOKOMOTIVE</small></li>
          <li><img src="images/logo03.png" alt="Image"><small>BIRDIEST</small></li>
          <li><img src="images/logo04.png" alt="Image"><small>PLOCSHA</small></li>
          <li><img src="images/logo05.png" alt="Image"><small>NEWKY</small></li> -->
          <li><img src="images/bisleri.png" alt="Image"><small>Bisleri</small></li>
          <li><img src="images/atmio.jpeg" alt="Image"><small>Atmiyo</small></li>
          <li><img src="images/RE.jpeg" alt="Image"><small>Royal Enfield</small></li>
          <li><img src="images/NEG1.jpeg" alt="Image"><small>NE Guide</small></li>
        </ul>
      </div>
      <!-- end col-7 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<div class="modal fade" id="exampleModalScrollableS" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Be Our Sponser</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <form action="/sponsor" method="POST">
              <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required>
                </div><br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Company Name</span>
                    </div>
                    <input type="text" class="form-control" id="company" name="company" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required>
                </div><br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required>
                </div><br>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">State</span>
                  </div>
                  <input type="text" class="form-control" id="state" name="state" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required>
                  </div><br>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Phone Number</span>
                    </div>
                  <input type="text" class="form-control" id="cn" name="cn" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required>
                  </div><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Send Data</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  
<!-- end clients -->
<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- footer ends -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body></html>
