<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#e8293b"/>
    <meta name="HandheldFriendly" content="true" />
    <title>Auxesis | Speakers</title>
    <meta name="author" content="Themezinho">
    <meta name="description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta property="og:image" content="http://www.themezinho.net/brabus/preview.png">
    <meta property="og:site_name" content="Brabus">
    <meta property="og:title" content="Brabus">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.themezinho.net/brabus">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@brabus">
    <meta name="twitter:creator" content="@brabus">
    <meta name="twitter:title" content="brabus">
    <meta name="twitter:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="twitter:image" content="http://www.themezinho.net/brabus/preview.png">

    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="inner">
        <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
        <span class="typewriter" id="typewriter"></span> </div>
</div>
<div class="transition-overlay">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>
<%- include('./include/nav.ejs') %>
<nav class="navbar">
    <div class="left"> <a href="/">Auxesis</a> </div>
    <!-- end left -->
    <div class="logo"> <a href="#"><img src="images/MainLogo.png" alt="Image"></a> </div>
    <div class="right">
        <ul class="language">
            <li><a href="#"> &nbsp</a></li>
            <li><a href="#"> &nbsp</a></li>
        </ul>
        <div class="hamburger-menu"><b>MENU</b>
            <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        </div>
    </div>
</nav>
<header class="page-header">
    <div class="video-bg">
        <img src="images/speakers.jpg" alt="Image">
    </div>
    <div class="container">
        <h1>SPEAKERS</h1>
        <p>“Let thy speech be better than silence, or be silent.”
            – Dionysius Of Halicarnassus </p>
    </div>
    <aside class="left-side">
            <ul>
              <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
              <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
              <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
            </ul>
     </aside>
    <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
   
</header>
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/risha.jpeg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <h3 class="post-title">
                                <a href="https://github.com/michaelspeed">
                                    Risha Singa Changmai
                                </a>
                            </h3>
                            <div >
                                <li>Full Stack Developer</li>
                                <li>Manager and Director at Atmiyo Technology Evolution OPC Pvt. Ltd.</li>
                              </div>
                          </div>
                    </div>
                </div>
                <!-- end of first section -->

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/hitesh.png" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <h3 class="post-title">
                                <a href="https://www.hiteshchoudhary.com/">
                                    Hitesh Choudhary
                                </a>
                            </h3>
                            <div >
                                <li>Full Stack Developer</li>
                               <li>Tech Video Creator, Tedx Speaker</li>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/Asutush.jpeg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <h3 class="post-title">
                                <a href="#">
                                    Asutosh Kashyap
                                </a>
                            </h3>
                            <div >
                               <li>Photographer,
                                   Former Tedx Speaker,
                                </li>
                                <li>
                                    Cinematographer,
                                    Photographer at natgeo your shot
                                </li>
                                <li>
                                    Member of exclusive filmmaker's Club london.
                                </li>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/Ruhul.jpeg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <h3 class="post-title">
                                <a href="#">
                                    Ruhul Borbhuyan
                                </a>
                            </h3>
                            <div >
                               <li>
                                    Photographer, Cinematographer
                               </li>
                               <li> 
                                   Former Cinematographer of "PARO" India.
                                </li>
                                <li>
                                    Co - founder of Young Photographers of Assam.
                                </li>
                            </div>
                          </div>
                    </div>
                </div>

                </div>
            </div>
        </div>


</section>


<%- include('./include/footer.ejs') %>

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>
</html>