<!doctype html>
<html lang="en">

<!-- Mirrored from themezinho.net/brabus/works.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Aug 2019 15:50:37 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#e8293b"/>
<meta name="HandheldFriendly" content="true" />
<title>Auxesis | Success</title>
<meta name="author" content="Themezinho">
<meta name="description" content="Brabus | Contemporary Modern Portfolio for Agencies">
<meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
<meta property="og:image" content="../../www.themezinho.net/brabus/preview.png">
<meta property="og:site_name" content="Brabus">
<meta property="og:title" content="Brabus">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/brabus">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@brabus">
<meta name="twitter:creator" content="@brabus">
<meta name="twitter:title" content="brabus">
<meta name="twitter:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
<meta name="twitter:image" content="../../www.themezinho.net/brabus/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="inner" data-tilt data-tilt-perspective="2000">
    <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
    <span class="typewriter" id="typewriter"></span> </div>
  <!-- end inner -->
</div>

<div class="container" style="justify-content: center; align-items: center; text-align: center; height: 20%; margin-top: 30vh">
        <img src="/images/success.png" alt="Image">
        <h1>Registration Successful</h1>
        <h1>Check your mail for confirmation.</h1>
        <hr>
        <a href="/">
                <h1>Go to Home Page</h1>
        </a>
        <!-- <img src="4.png" alt="Image"> -->
    </div>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>

<!-- Mirrored from themezinho.net/brabus/works.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Aug 2019 15:51:14 GMT -->
</html>
