<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#e8293b"/>
    <meta name="HandheldFriendly" content="true" />
    <title>Auxesis | Team</title>
    <meta name="author" content="Themezinho">
    <meta name="description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta property="og:image" content="http://www.themezinho.net/brabus/preview.png">
    <meta property="og:site_name" content="Brabus">
    <meta property="og:title" content="Brabus">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.themezinho.net/brabus">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@brabus">
    <meta name="twitter:creator" content="@brabus">
    <meta name="twitter:title" content="brabus">
    <meta name="twitter:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="twitter:image" content="http://www.themezinho.net/brabus/preview.png">

    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="inner">
        <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
        <span class="typewriter" id="typewriter"></span> </div>
    <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
    <div class="left"> <a href="direction.html">DIRECTION</a> </div>
    <!-- end left -->
    <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="right">
        <ul class="language">
            <li><a href="#">EN</a></li>
            <li><a href="#">RU</a></li>
        </ul>
        <div class="hamburger-menu"><b>MENU</b>
            <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        </div>
        <!-- end hamburger-menu -->
    </div>
    <!-- end right -->
</nav>
<!-- end navbar -->
<header class="page-header">
    <div class="video-bg">
        <video src="videos/video2.mp4" muted loop autoplay></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
        <h1>OUR TEAM</h1>
        <p>"Alone we can do so little; together we can do so much." – Helen Keller</p>
    </div>
    <!-- end container -->
    <aside class="left-side">
        <ul>
            <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
            <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A">YOUTUBE</a></li>
            <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
        </ul>
    </aside>
    <!-- end left-side -->
    <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
    <!-- end scroll-down -->
    <div class="sound"> <span> SOUND </span>
        <div class="equalizer">
            <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
            <!-- end holder -->
        </div>
        <!-- end equalizer -->
    </div>
    <!-- end sound -->
</header>
<!-- end header -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/news01.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                            <h3 class="post-title"><a href="news-single.html">Faculty Convenor</a></h3>
                            <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Abhijit Boruah</a></span></div>
                            <p class="post-text">Assistant Professor,DUIET<br>
                                Contact number : +8638562037</p>
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->
                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/news02.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                            <h3 class="post-title"><a href="news-single.html">STUDENT CONVENOR</a></h3>
                            <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Jyotishman Parasar</a></span></div>
                            <p class="post-text">Contact number : +9957552828</p>
                        </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/news03.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                            <div class="inner">
                                    <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                    <h3 class="post-title"><a href="news-single.html">ACCOUNT MANAGER</a></h3>
                                    <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Bishal kumar Taye</a></span></div>
                                    <p class="post-text">Contact number : +7578897405</p>
                                </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/news04.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                            <div class="inner">
                                    <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                    <h3 class="post-title"><a href="news-single.html">ACCOUNT MANAGER</a></h3>
                                    <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Satyabrat Bora</a></span></div>
                                    <p class="post-text">Contact number : +0000000000</p>
                                </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/news05.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                            <div class="inner">
                                    <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                    <h3 class="post-title"><a href="news-single.html">ACCOUNT MANAGER</a></h3>
                                    <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Susmita Saikia</a></span></div>
                                    <p class="post-text">Contact number : +7896903017</p>
                                </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->
                <!-- <div class="pagination fadeIn">
                    <a href="#">More Members</a>
                </div> -->
                <!-- end pagination -->

            <div class="post wow fadeIn">
                 <figure class="post-image">
                     <img src="images/news05.jpg" alt="Image">
                      </figure>
                      <!-- end news-image -->
                      <div class="post-content">
                              <div class="inner">
                                      <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                     <h3 class="post-title"><a href="news-single.html">PUBLIC RELATION MANAGER</a></h3>
                                      <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Ankuran Borah</a></span></div>
                                    <p class="post-text">Contact number : +8472090101</p>
                                 </div>
                        <!-- end inner -->
                        </div>
                        <!-- end post-content -->
            </div>

            <div class="post wow fadeIn">
                    <figure class="post-image">
                          <img src="images/news05.jpg" alt="Image">
                      </figure>
                         <!-- end news-image -->
                      <div class="post-content">
                          <div class="inner">
                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                    <h3 class="post-title"><a href="news-single.html">PUBLIC RELATION MANAGER</a></h3>
                                      <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Himangshu S.Kashyap</a></span></div>
                                     <p class="post-text">Contact number : +7896508160</p>
                            </div>
                                <!-- end inner -->
                     </div>
                            <!-- end post-content -->
             </div>
           <div class="post wow fadeIn">
                   <figure class="post-image">
                        <img src="images/news05.jpg" alt="Image">
                  </figure>
                      <!-- end news-image -->
                  <div class="post-content">
                           <div class="inner">
                                   <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                   <h3 class="post-title"><a href="news-single.html">PUBLIC RELATION MANAGER</a></h3>
                                   <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Shruti Goswami</a></span></div>
                                   <p class="post-text">Contact number : +9101331256</p>
                          </div>
                            <!-- end inner -->
                </div>
                                <!-- end post-content -->
           </div>
         <div class="post wow fadeIn">
                 <figure class="post-image">
                     <img src="images/news05.jpg" alt="Image">
                  </figure>
                     <!-- end news-image -->
                       <div class="post-content">
                            <div class="inner">
                     <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                         <h3 class="post-title"><a href="news-single.html">MARKETING MANAGER</a></h3>
                        <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Dhruba Pratim Bora</a></span></div>
                            <p class="post-text">Contact number : +9101009231</p>
                        </div>
                    <!-- end inner -->
                     </div>
                       <!-- end post-content -->
          </div>
          <div class="post wow fadeIn">
                <figure class="post-image">
                   <img src="images/news05.jpg" alt="Image">
                   </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                 <div class="inner">
                     <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                    <h3 class="post-title"><a href="news-single.html">MARKETING MANAGER</a></h3>
                 <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Parthana Duwarah</a></span></div>
                    <p class="post-text">Contact number : +7577050880</p>
                 </div>
                       <!-- end inner -->
                    </div>
                   <!-- end post-content -->
          </div>

          <div class="post wow fadeIn">
                <figure class="post-image">
                    <img src="images/news05.jpg" alt="Image">
                </figure>
                <!-- end news-image -->
                <div class="post-content">
                        <div class="inner">
                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                <h3 class="post-title"><a href="news-single.html">CREATIVITY MANAGER</a></h3>
                                <div class="post-author"><!--<img src="images/author01.jpg" alt="Image"> --><span><a href="#">Dhrubajyoti Gogoi</a></span></div>
                                <p class="post-text">Contact number : +00000</p>
                            </div>
                    <!-- end inner -->
                </div>
                <!-- end post-content -->
            </div>
        
            <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/news05.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                            <div class="inner">
                                    <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                    <h3 class="post-title"><a href="news-single.html">TECHNICAL MANAGER</a></h3>
                                    <div class="post-author"><span><a href="#">Navajit Shyam</a></span></div>
                                    <p class="post-text">Contact number : +00000</p>
                                </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <div class="post wow fadeIn">
                        <figure class="post-image">
                            <img src="images/news05.jpg" alt="Image">
                        </figure>
                        <!-- end news-image -->
                        <div class="post-content">
                                <div class="inner">
                                        <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                        <h3 class="post-title"><a href="news-single.html">CULTURAL MANAGER</a></h3>
                                        <div class="post-author"><span><a href="#">Moumita Dey</a></span></div>
                                        <p class="post-text">Contact number : +8638219294</p>
                                    </div>
                            <!-- end inner -->
                        </div>
                        <!-- end post-content -->
                    </div>
                    <div class="post wow fadeIn">
                            <figure class="post-image">
                                <img src="images/news05.jpg" alt="Image">
                            </figure>
                            <!-- end news-image -->
                            <div class="post-content">
                                    <div class="inner">
                                            <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                            <h3 class="post-title"><a href="news-single.html">MEDIA MANAGER</a></h3>
                                            <div class="post-author"><span><a href="#">Jugesh Bikash Changmai</a></span></div>
                                            <p class="post-text">Contact number : +00000</p>
                                        </div>
                                <!-- end inner -->
                            </div>
                            <!-- end post-content -->
                        </div>
                        <div class="post wow fadeIn">
                                <figure class="post-image">
                                    <img src="images/news05.jpg" alt="Image">
                                </figure>
                                <!-- end news-image -->
                                <div class="post-content">
                                        <div class="inner">
                                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                                <h3 class="post-title"><a href="news-single.html">PUBLICITY MANAGER</a></h3>
                                                <div class="post-author"><span><a href="#">Anshumoy Senapati</a></span></div>
                                                <p class="post-text">Contact number : +00000</p>
                                            </div>
                                    <!-- end inner -->
                                </div>
                                <!-- end post-content -->
                         </div>
                         <div class="post wow fadeIn">
                                <figure class="post-image">
                                    <img src="images/news05.jpg" alt="Image">
                                </figure>
                                <!-- end news-image -->
                                <div class="post-content">
                                        <div class="inner">
                                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                                <h3 class="post-title"><a href="news-single.html">SCHOOL AND MODULE MANAGER</a></h3>
                                                <div class="post-author"><span><a href="#">Kongkon Jyoti Mahanta</a></span></div>
                                                <p class="post-text">Contact number : +8876136065</p>
                                            </div>
                                    <!-- end inner -->
                                </div>
                                <!-- end post-content -->
                         </div>
                         <div class="post wow fadeIn">
                                <figure class="post-image">
                                    <img src="images/news05.jpg" alt="Image">
                                </figure>
                                <!-- end news-image -->
                                <div class="post-content">
                                        <div class="inner">
                                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                                <h3 class="post-title"><a href="news-single.html">SECURITY MANAGER</a></h3>
                                                <div class="post-author"><span><a href="#">Pronam Sensua</a></span></div>
                                                <p class="post-text">Contact number : +000000</p>
                                            </div>
                                    <!-- end inner -->
                                </div>
                                <!-- end post-content -->
                         </div>
                         <div class="post wow fadeIn">
                                <figure class="post-image">
                                    <img src="images/news05.jpg" alt="Image">
                                </figure>
                                <!-- end news-image -->
                                <div class="post-content">
                                        <div class="inner">
                                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                                <h3 class="post-title"><a href="news-single.html">SOCIAL INITIATIVE MANAGER</a></h3>
                                                <div class="post-author"><span><a href="#">Sivankadhar Rajkhowa</a></span></div>
                                                <p class="post-text">Contact number : +0000</p>
                                            </div>
                                    <!-- end inner -->
                                </div>
                                <!-- end post-content -->
                         </div>
                         <div class="post wow fadeIn">
                                <figure class="post-image">
                                    <img src="images/news05.jpg" alt="Image">
                                </figure>
                                <!-- end news-image -->
                                <div class="post-content">
                                        <div class="inner">
                                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                                <h3 class="post-title"><a href="news-single.html">MANAGEMENT MANAGER</a></h3>
                                                <div class="post-author"><span><a href="#">Akash Mahato</a></span></div>
                                                <p class="post-text">Contact number : +00000</p>
                                            </div>
                                    <!-- end inner -->
                                </div>
                                <!-- end post-content -->
                         </div>
                         <div class="post wow fadeIn">
                                <figure class="post-image">
                                    <img src="images/news05.jpg" alt="Image">
                                </figure>
                                <!-- end news-image -->
                                <div class="post-content">
                                        <div class="inner">
                                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                                <h3 class="post-title"><a href="news-single.html">SPORTS MANAGER</a></h3>
                                                <div class="post-author"><span><a href="#">Babam Kharia</a></span></div>
                                                <p class="post-text">Contact number : +00000</p>
                                            </div>
                                    <!-- end inner -->
                                </div>
                                <!-- end post-content -->
                         </div>
                         <div class="post wow fadeIn">
                                <figure class="post-image">
                                    <img src="images/news05.jpg" alt="Image">
                                </figure>
                                <!-- end news-image -->
                                <div class="post-content">
                                        <div class="inner">
                                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                                <h3 class="post-title"><a href="news-single.html">RANSACK MANAGER</a></h3>
                                                <div class="post-author"><span><a href="#">Gopanjal Nath</a></span></div>
                                                <p class="post-text">Contact number : +000</p>
                                            </div>
                                    <!-- end inner -->
                                </div>
                                <!-- end post-content -->
                         </div>
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end news -->


<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>
</html>
