<!doctype html>
<html lang="en">

<!-- Mirrored from themezinho.net/brabus/works.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Aug 2019 15:50:37 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#e8293b"/>
<meta name="HandheldFriendly" content="true" />
<title>Auxesis | Technical Events</title>
<meta name="author" content="Themezinho">
<meta name="description" content="Brabus | Contemporary Modern Portfolio for Agencies">
<meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
<meta property="og:image" content="../../www.themezinho.net/brabus/preview.png">
<meta property="og:site_name" content="Brabus">
<meta property="og:title" content="Brabus">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/brabus">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@brabus">
<meta name="twitter:creator" content="@brabus">
<meta name="twitter:title" content="brabus">
<meta name="twitter:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
<meta name="twitter:image" content="../../www.themezinho.net/brabus/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="inner" data-tilt data-tilt-perspective="2000">
    <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
    <span class="typewriter" id="typewriter"></span> </div>
  <!-- end inner --> 
</div>
<!-- end preloader -->
<div class="transition-overlay">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
  <div class="left"> <a href="/">Auxesis</a> </div>
  <!-- end left -->
  <div class="logo"> <a href="#"><img src="images/MainLogo.png" alt="Image"></a> </div>
  <!-- end logo -->
  <div class="right">
    <ul class="language">
      <li><a href="#">&nbsp</a></li>
      <li><a href="#">&nbsp</a></li>
    </ul>
    <div class="hamburger-menu"><b>MENU</b>
      <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    </div>
    <!-- end hamburger-menu --> 
  </div>
  <!-- end right --> 
</nav>
<!-- end navbar -->
<header class="page-header">
  <div class="video-bg">
    <!-- <video src="videos/video2.mp4" muted loop autoplay></video> -->
    <img src="images/eventMain01.jpg" alt="Image">
  </div>
  <!-- end video-bg -->
  <div class="container">
  	<h1>Technical Events</h1>
  	<p>HOP ON TO VARIETIES!</p>
  </div>
  <!-- end container -->
  <aside class="left-side">
      <ul>
        <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
        <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
        <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
      </ul>
    </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  <!-- end sound -->
</header>
<!-- end header -->
<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
      </div>
      <div class="col-12">
         <div class="project-box wow fadeIn" data-bg="#faf8ed">
          <figure>
            <a href="images/speakers.jpg" data-fancybox>
              <img src="images/speakers.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
             <div class="inner"> <!--<small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small> -->
              <a>10th-11th September</a>
              <h3><span>DevMeet</span>Developer Conference</h3>
                <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableDevloper">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/aveja.jpg" data-fancybox>
            <img src="images/aveja.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner"> <a>27th-28th September</a>
              <h3><span>Aveza</span>StartUp Event</h3>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableAveja">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ebf8f3">
          <figure>
            <a href="images/roboSoccer.jpg" data-fancybox>
            <img src="images/roboSoccer.jpg" alt="Image">
           </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Robo </span>Soccer</h3>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableRoboSoccer">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        <!-- end project-box --> 
        <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="images/botpic.jpg" data-fancybox>
              <img src="images/botpic.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Survivor </span>Bot</h3>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableSurvivor">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>

        <div class="project-box wow fadeIn" data-bg="#e5f2f7">
          <figure>
            <a href="images/roboFight.jpg" data-fancybox>
              <img src="images/roboFight.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner"> 
              <h3><span>Robo </span>Assault</h3>
              <div class="custom-link wow fadeIn">
                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableRoboAssult">
                    <div class="lines"> <span></span> <span></span> </div>
                    <!-- end lines -->
                    <b>Register Here</b>
                </a>
            </div>
            </div>
          </div>
        </div>


        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/techexhibition.jpg"  data-fancybox>
            <img src="images/techexhibition.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Technical</span>Exhibition</h3>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableDevloper">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link --> 
            </div>
            <!-- end inner --> 
          </div>
          <!-- end content-box --> 
        </div>
        <!-- end project-box --> 



        
        <div class="project-box wow fadeIn" data-bg="#f5efe8">
          <figure>
            <a href="images/rubic.jpg" data-fancybox>
            <img src="images/rubic.jpg" alt="Image">
           </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Cubicon</span>Solve the Cube </h3>
              <div class="custom-link wow fadeIn">
                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableRubic">
                    <div class="lines"> <span></span> <span></span> </div>
                    <!-- end lines -->
                    <b>Register Here</b>
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModalScrollableAveja" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Aveja</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/technicalevents/addavega"  method="POST" >
              <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                  </div>
                  <input type="text" class="form-control" id="name" name="name" placeholder="your Name" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                  </div>
                  <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                  </div>
                  <input type="text" class="form-control" id="regfees" name="regfees" placeholder="200Rs" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
          </form>
      </div>
  </div>
</div>


<!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableRoboAssult" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Technical Events</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input type="text" class="form-control" id='name' placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                      </div>
                      <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                  </div><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
  </div>

  <!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableRoboSoccer" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Technical Events</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div>ROBOT SPECIFICATION-
                  <li> The maximum dimension of the two robots can be 25cm x 20cm (l x b). Height
                    is as per your convenience.</li>
                    <li>Each robot should not weight more than 3.5kg.</li>
                    <li>The maximum voltage across any two terminals should not be more than
                      12volts.</li>
                    <li>The robot may be wired or wireless.</li>
                    <li>Readymade gearboxes and wheels can be used. Use of Lego kits for any
                      purpose is not allowed.</li>
                      <li>Participants can use their own mechanism for kicking or pushing the ball.
                        After attachment of mechanism the bot should not exceed its maximum
                        dimension limit.</li>
                        <li>All connections should be made safe to prevent short circuits and battery
                          fires. Any unsafe circuitry may be asked to replace, failure to do so may lead to
                          disqualification.</li>
                </div>
                   <br>
                  <div>Rules-
                  <li> Each team has to make their robots under the specifications given above.</li>
                    <li>Each team can be consists of maximum 4 members.</li>
                    <li>The necessary rules for playing the match will be explained on the day of
                      event.</li>
                    <li>The decisions of the event judges will be the final decision and every team
                      must follow it, failing to comply with the decision will lead to disqualification.</li>
                </div><br><br>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                  </div>
                  <input type="text" class="form-control" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                    </div>
                    <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                </div><br>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
          </div>
      </div>
  </div>
</div>

   <!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableR2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Technical Events</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div>ROBOT SPECIFICATION-
                    <li> The maximum dimension of the robot can be 30cm x 30cm (l x b). Height is
                        as per your convenience. </li>
                      <li>Each robot should not weight more than 3.5kg.</li>
                      <li>The maximum voltage across any two terminals should not be more than
                          12volts.</li>
                      <li>The robot may be wired or wireless.</li>
                      <li>Readymade gearboxes and wheels can be used. Use of Lego kits for any
                        purpose is not allowed.</li>
                          <li>All connections should be made safe to prevent short circuits and battery
                            fires. Any unsafe circuitry may be asked to replace, failure to do so may lead to
                            disqualification.</li>
                  </div>
                     <br>
                    <div>Rules-
                    <li> Each team has to make their robots under the specifications given above.</li>
                      <li>Each team can be consists of maximum 4 members. Students from different
                          institutes can form a team. </li>
                      <li>The necessary rules for playing the match will be explained on the day of
                        event.</li>
                      <li> Skipping of the obstacles etc. will lead to penalty.
                          The decisions of the event judges will be the final and binding, failing to comply
                          will lead to disqualification. </li>
                  </div><br><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                      </div>
                      <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                  </div><br>
                  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
  </div>
   
    <!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableSurvivor" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Survivor Bot</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div>ROBOT SPECIFICATION-
                    <li> The maximum dimension of the robot can be 30 x 25 cm2 (l x b). Height is as
                        per your convenience.</li>
                        <li> The robot should not weigh more than 4 kg.</li>
                        <li> Weapons are allowed but it should not harm the spectators.</li>
                        <li> Any type of chemical or projectile actions can’t be used.</li>
                        <li> The voltage across any two terminals must not be more than 24 volts at any
                        point of the competition.</li>
                        <li> The robot can be wired or wireless.</li>
                        <li> Readymade gear boxes and wheels can be used. But use of Lego kits is
                        strictly prohibited. </li>
                  </div>
                     <br>
                    <div>GAMEPLAY:
                        Round 1:<br>
                        <li> Two robots will be placed in the green zone.</li>
                            <li> When the game starts, a robot will have to push out its opponent from the
                        green zone.</li>
                        <li> Points will be given as:<br>
                        a. If a bot pushes out the opponent to the blue zone, +5 points will awarded.<br>
                        b. If a bot pushes out the opponent to the yellow zone, +5 points will awarded.<br>
                        c. If a bot pushes out the opponent to the red zone, +5 points will awarded.<br></li>
                        <li> After a ROBOT pushes out its opponent to the red zone they will be recalled
                        back to the centre.</li>
                        <li> Make some damage to your opponent to get extra points or make it unable
                        to move using your weapon to win the round instantly.</li>
                        Round 2:
                            <li> Two bots will be placed in S1 and S2 zone.</li>
                                <li> A cube will be placed inside each zone and bots have to bring their cube to
                        their respective holes.</li>
                        <li> Bots will be permitted for the next/final round according to their scores
                        from this round only.</li>
                        Round 3:
                        The gameplay of the round 3 will be revealed on the day of the competition.
                        (Note: No special modification of the bots will be required for this round.)
                  </div><br><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                      </div>
                      <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                  </div><br>
                  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
  </div>


<div class="modal fade" id="exampleModalScrollableDevloper" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Developer Conference</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                  </div>
                  <input type="text" class="form-control" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Project Details</span>
                  </div>
                  <input type="text" class="form-control" placeholder="project details" aria-label="Username" aria-describedby="basic-addon1">
                </div><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Register</button>
          </div>
      </div>
  </div>
</div>


<!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableRubic" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Rubic Cube</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                  ELIGIBILITY:
                  <li> All students with a valid identity card of their respective educational</li>
                  institute are eligible to participate in the competition.
                  <li> Both on spot entry and online pre-registration are available.</li>
              </div>
              <div>
                  RULES:
                  <li> The decision made by the committee will be final.</li>
                  <li>Any tampering to the cube will lead to disqualification.</li>
                  <li> Modification to the cube is not permitted.</li><br>
              </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                      </div>
                      <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                  </div><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
  </div>

  <!-- regsistrations -->
<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>

<!-- Mirrored from themezinho.net/brabus/works.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Aug 2019 15:51:14 GMT -->
</html>