<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#e8293b"/>
<meta name="HandheldFriendly" content="true" />
<title>Auxesis | Technical Events</title>
<meta name="author" content="Auxesis">
<meta name="description" content="Auxesis">
<meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Auxesis">
<meta property="og:site_name" content="auxesis.in">
<meta property="og:title" content="auxesis.in">
<meta property="og:type" content="website">
<meta property="og:url" content="auxesis.in">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@auxesis">
<meta name="twitter:creator" content="@auxesis">
<meta name="twitter:title" content="Auxesis">
<meta name="twitter:description" content="Auxesis">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="inner" data-tilt data-tilt-perspective="2000">
    <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
    <span class="typewriter" id="typewriter"></span> </div>
  <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
  <div class="left"> <a href="/">Auxesis</a> </div>
  <!-- end left -->
  <div class="logo"> <a href="#"><img src="images/MainLogo.png" alt="Image"></a> </div>
  <!-- end logo -->
  <div class="right">
    <ul class="language">
      <li><a href="#">&nbsp</a></li>
      <li><a href="#">&nbsp</a></li>
    </ul>
    <div class="hamburger-menu"><b>MENU</b>
      <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    </div>
    <!-- end hamburger-menu -->
  </div>
  <!-- end right -->
</nav>
<!-- end navbar -->
<header class="page-header">
    <div class="video-bg">
        <img src="images/tech.jpg" alt="Image">
    </div>
  <!-- end video-bg -->
  <div class="container">
  	<h1>Technical Events</h1>
  	<p>HOP ON TO VARIETIES!</p>
  </div>
  <!-- end container -->
  <aside class="left-side">
      <ul>
        <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
        <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
        <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
      </ul>
    </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  <!-- end sound -->
</header>
<!-- end header -->
<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
      </div>
      <div class="col-12">
         <div class="project-box wow fadeIn" data-bg="#faf8ed">
          <figure>
            <a href="images/speakers.jpg" data-fancybox>
              <img src="images/speakers.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
             <div class="inner"> <!--<small>AMAZING USER INTERFACE & SMOOTH INTERACTION</small> -->
              <a>10th-11th September</a>
              <h3><span>DevCon</span>Developer Conference</h3>
                <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableDevloper">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link -->
            </div>
            <!-- end inner -->
          </div>
          <!-- end content-box -->
        </div>

        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/aveja.jpeg" data-fancybox>
            <img src="images/aveja.jpeg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
               <!-- <a>27th-28th September</a> -->
              <h3><span>Aveza</span>StartUp Event</h3>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link -->
            </div>
            <!-- end inner -->
          </div>
          <!-- end content-box -->
        </div>
        <!-- end project-box -->
        <div class="project-box wow fadeIn" data-bg="#ebf8f3">
          <figure>
            <a href="images/roboSoccer.jpg" data-fancybox>
            <img src="images/roboSoccer.jpg" alt="Image">
           </a>
          </figure>
          <div class="content-box">
              <div class="inner">
                  <h3><span>Robo </span>Soccer</h3>
                  <div class="custom-link wow fadeIn">
                        <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                            <!-- <div class="lines"> <span></span> <span></span> </div> -->
                            <!-- <b>Rules</b> -->
                        </a>
                  </div>
                  <div class="custom-link wow fadeIn">
                      <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                          <div class="lines"> <span></span> <span></span> </div>
                          <!-- end lines -->
                          <b>Register Here</b>
                      </a>
                  </div>
                  <!-- end custom-link -->
                </div>
            <!-- end inner -->
          </div>
          <!-- end content-box -->
        </div>
        <!-- end project-box -->
        
        <div class="project-box wow fadeIn" data-bg="#f4eedf">
          <figure>
            <a href="images/botpic.jpg" data-fancybox>
              <img src="images/botpic.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Survivor </span>Bot</h3>
              <div class="custom-link wow fadeIn">
                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableSurvivorRules">
                    <div class="lines"> <span></span> <span></span> </div>
                    <!-- end lines -->
                    <b>Rules</b>
                </a>
          </div>
          <div class="custom-link wow fadeIn">
              <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                  <div class="lines"> <span></span> <span></span> </div>
                  <!-- end lines -->
                  <b>Register Here</b>
              </a>
          </div>
              <!-- end custom-link -->
            </div>
            <!-- end inner -->
          </div>
          <!-- end content-box -->
        </div>

        <div class="project-box wow fadeIn" data-bg="#e5f2f7">
          <figure>
            <a href="images/roboFight.jpg" data-fancybox>
              <img src="images/roboFight.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Robo </span>Assault</h3>
              <div class="custom-link wow fadeIn">
                <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">
                    <div class="lines"> <span></span> <span></span> </div>
                    <!-- end lines -->
                    <b>Register Here</b>
                </a>
            </div>
            </div>
          </div>
        </div>


        <div class="project-box wow fadeIn" data-bg="#ece6f4">
          <figure>
            <a href="images/techexhibition.jpg"  data-fancybox>
            <img src="images/techexhibition.jpg" alt="Image">
            </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Technical</span>Exhibition</h3>
              <div class="custom-link wow fadeIn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollableTech">
                        <div class="lines"> <span></span> <span></span> </div>
                        <!-- end lines -->
                        <b>Register Here</b>
                    </a>
                </div>
              <!-- end custom-link -->
            </div>
            <!-- end inner -->
          </div>
          <!-- end content-box -->
        </div>
        <!-- end project-box -->




        <div class="project-box wow fadeIn" data-bg="#f5efe8">
          <figure>
            <a href="images/rubic.jpg" data-fancybox>
            <img src="images/rubic.jpg" alt="Image">
           </a>
          </figure>
          <div class="content-box">
            <div class="inner">
              <h3><span>Cubicon</span>Solve the Cube </h3>
              <div class="custom-link wow fadeIn">
                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableRubicRules">
                    <div class="lines"> <span></span> <span></span> </div>
                    <!-- end lines -->
                    <b>Rules</b>
                </a>
            </div>
            <div class="custom-link wow fadeIn">
                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableRubic">
                    <!-- <div class="lines"> <span></span> <span></span> </div>
                    <b>Register Here</b> -->
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModalScrollableAveja" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h4>Aveja</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fa fa-close"></i>
            </button>
          </div>

          <form action="/technicalevents/addavega"  method="POST" >
              <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                  </div>
                  <input type="text" class="form-control" id="name" name="name" placeholder="your Name" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-family: 'Lato', sans-serif;" id="basic-addon1">Email</span>
                  </div>
                  <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                  </div>
                  <input type="text" class="form-control" id="regfees" name="regfees" placeholder="200Rs" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                  <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Payment Link: <a href="https://imjo.in/cdMMFp" style="color: #0c5460">Instamojo</a></h4>
                      <p>Please open in a new tab!</p>
                      <hr>
                      <p class="mb-0">paste the paymentID in the following section</p>
                  </div>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Payment Id</span>
                      </div>
                      <input type="text" class="form-control" id="trans" name="trans" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Register</button>
              </div>
          </form>
      </div>
  </div>
</div>


<!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableRoboAssult" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Robo Assult Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <form action="/technicalevents/roboAssult"  method="POST" >
              <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                  </div>
                  <input type="text" class="form-control" id="name" name="name" placeholder="your Name" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                  </div>
                  <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                  </div>
                  <input type="text" class="form-control" id="regfees" name="regfees" placeholder="200Rs" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">Payment Link: <a href="https://imjo.in/cdMMFp" style="color: #0c5460">Instamojo</a></h4>
                  <p>Please open in a new tab!</p>exampleModalScrollableRoboSoccerRules
                  <hr>
                  <p class="mb-0">paste the paymentID in the following section</p>
              </div>
              <br>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Payment Id</span>
                  </div>
                  <input type="text" class="form-control" id="trans" name="trans" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Register</button>
              </div>
          </form>
        </div>
    </div>
  </div>



  <div class="modal fade" id="exampleModalScrollableRoboSoccerRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Robo Soccer Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div>ROBOT SPECIFICATION-
              <li> The maximum dimension of the two robots can be 25cm x 20cm (l x b). Height
                is as per your convenience.</li>
              <li>Each robot should not weight more than 3.5kg.</li>
              <li>The maximum voltage across any two terminals should not be more than
                  12volts.</li>
              <li>The robot may be wired or wireless.</li>
              <li>Readymade gearboxes and wheels can be used. Use of Lego kits for any
                  purpose is not allowed.</li>
              <li>Participants can use their own mechanism for kicking or pushing the ball.
                  After attachment of mechanism the bot should not exceed its maximum
                  dimension limit.</li>
              <li>All connections should be made safe to prevent short circuits and battery
                  fires. Any unsafe circuitry may be asked to replace, failure to do so may lead to
                  disqualification.</li>
            </div>
            <br>
            <div>Rules-
            <li> Each team has to make their robots under the specifications given above.</li>
            <li>Each team can be consists of maximum 4 members.</li>
            <li>The necessary rules for playing the match will be explained on the day of
                event.
            </li>
            <li>The decisions of the event judges will be the final decision and every team
                must follow it, failing to comply with the decision will lead to disqualification.
            </li>
            </div><br><br>
        </div>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

    </div>
  </div>

  <!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableRoboSoccer" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Robo Soccer Registration</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form  action="/technicalevents/roboSoccer"  method="POST" >
                <div class="modal-body">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                      </div>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                      </div>
                      <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                    </div>
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Payment Link: <a href="https://imjo.in/cdMMFp" style="color: #0c5460">Instamojo</a></h4>
                      <p>Please open in a new tab!</p>
                      <hr>
                      <p class="mb-0">Paste the paymentID in the following section</p>
                  </div>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Payment Id</span>
                      </div>
                      <input type="text" class="form-control" id="trans" name="trans" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary" >Register</button>
              </div>
          </form>


      </div>
  </div>
</div>

   <!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableSurvivorRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Survivor Bot</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <div class="modal-body">
                  <div>ROBOT SPECIFICATION-
                      <li> The max dimension of the robot can be 30cm x 30cm (l x b). Height is
                          as per your convenience. </li>
                        <li>Each robot should not weight more than 3.5kg.</li>
                        <li>The maximum voltage across any two terminals should not be more than
                            12volts.</li>
                        <li>The robot may be wired or wireless.</li>
                        <li>Readymade gearboxes and wheels can be used. Use of Lego kits for any
                          purpose is not allowed.</li>
                            <li>All connections should be made safe to prevent short circuits and battery
                              fires. Any unsafe circuitry may be asked to replace, failure to do so may lead to
                              disqualification.</li>
                    </div>
                       <br>
                    <div>Rules-
                      <li> Each team has to make their robots under the specifications given above.</li>
                      <li>Each team can be consists of maximum 4 members. Students from different
                          institutes can form a team. </li>
                      <li>The necessary rules for playing the match will be explained on the day of
                          event.</li>
                      <li> Skipping of the obstacles etc. will lead to penalty.
                          The decisions of the event judges will be the final and binding, failing to comply
                          will lead to disqualification. </li>
                    </div><br><br>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>

<!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableSurvivor" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Robo Soccer Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form  action="/technicalevents/survivorbot"  method="POST" >
                  <div class="modal-body">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                          </div>
                          <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                          </div>
                          <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                            </div>
                            <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                        </div>
                        <div class="alert alert-success" role="alert">
                          <h4 class="alert-heading">Payment Link: <a href="https://imjo.in/cdMMFp" style="color: #0c5460">Instamojo</a></h4>
                          <p>Please open in a new tab!</p>
                          <hr>
                          <p class="mb-0">paste the paymentID in the following section</p>
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Payment Id</span>
                          </div>
                          <input type="text" class="form-control" id="trans" name="trans" aria-label="Username" aria-describedby="basic-addon1">
                      </div><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-outline-primary" >Register</button>
                </div>
            </form>


        </div>
    </div>
  </div>



<div class="modal fade" id="exampleModalScrollableDevloper" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Developer Conference</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/technicalevents/addDevelopers"  method="POST" >
              <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input type="text" class="form-control" id="name" name="name" placeholder="your Name" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Email</span>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Project Details</span>
                    </div>
                    <input type="text" class="form-control" id="project" name="project" placeholder="project details" aria-label="Username" aria-describedby="basic-addon1">
                  </div><br>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
          </form>
      </div>
  </div>
</div>

<div class="modal fade" id="exampleModalScrollableTech" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">tech exhibition</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="technicalevents/techExhibition" method="POST" >
                <div class="modal-body">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                      </div>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
                    </div><br>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                      </div>
                      <input type="text" class="form-control" id="email" name="email" placeholder="your email" aria-label="Username" aria-describedby="basic-addon1">
                    </div><br>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Project Details</span>
                      </div>
                      <input type="text" class="form-control" id="project" name="project" placeholder="project details" aria-label="Username" aria-describedby="basic-addon1">
                    </div><br>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-outline-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
  </div>


<!-- regsistrations -->
<div class="modal fade" id="exampleModalScrollableRubic" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Rubic Cube</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/technicalevents/cubicon"  method="POST" >
              <div class="modal-body">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                      </div>
                      <input type="text" class="form-control" id="name" name="name" placeholder="enter your name" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                      </div>
                      <input type="text" class="form-control" id="email" name="email" placeholder="enter your email" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                        </div>
                        <input type="text" class="form-control" placeholder="100Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                    </div>
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Payment Link: <a href="https://imjo.in/cdMMFp" style="color: #0c5460">Instamojo</a></h4>
                      <p>Please open in a new tab!</p>
                      <hr>
                      <p class="mb-0">paste the paymentID in the following section</p>
                  </div>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Payment Id</span>
                      </div>
                      <input type="text" class="form-control" id="trans" name="trans" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >Register</button>
            </div>
        </form>
        </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModalScrollableRubicRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Rubic Cube</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                  <div class="modal-body">
                      <div>
                          ELIGIBILITY:
                          <li> All students with a valid identity card of their respective educational</li>
                          institute are eligible to participate in the competition.
                          <li> Both on spot entry and online pre-registration are available.</li>
                      </div>
                      <div>
                          RULES:
                          <li> The decision made by the committee will be final.</li>
                          <li>Any tampering to the cube will lead to disqualification.</li>
                          <li> Modification to the cube is not permitted.</li><br>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
          </div>
      </div>
</div>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Coming Soon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <li>
                Currently this link is still in development phase, as we are updating our site to a 
                completely new and fresh look. Please come back after a couple of days. 
                <b style="color:brown"> We are sorry for this inconvenience.</b>
            </li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- regsistrations -->
<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body></html>
