<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#e8293b"/>
    <meta name="HandheldFriendly" content="true" />
    <title>Auxesis | Workshop</title>
    <meta name="author" content="Themezinho">
    <meta name="description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta property="og:image" content="http://www.themezinho.net/brabus/preview.png">
    <meta property="og:site_name" content="Brabus">
    <meta property="og:title" content="Brabus">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.themezinho.net/brabus">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@brabus">
    <meta name="twitter:creator" content="@brabus">
    <meta name="twitter:title" content="brabus">
    <meta name="twitter:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
    <meta name="twitter:image" content="http://www.themezinho.net/brabus/preview.png">

    <!-- FAVICON FILES -->
    <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <%- include('./include/header.ejs') %>
</head>
<body>
<div class="preloader">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="inner">
        <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
        <span class="typewriter" id="typewriter"></span> </div>
    <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<%- include('./include/nav.ejs') %>
<!-- end navigation-menu -->
<nav class="navbar">
    <div class="left"> <a href="/">Auxesis</a> </div>
    <!-- end left -->
    <div class="logo"> <a href="#"><img src="images/MainLogo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="right">
        <ul class="language">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <div class="hamburger-menu"><b>MENU</b>
            <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        </div>
        <!-- end hamburger-menu -->
    </div>
    <!-- end right -->
</nav>
<!-- end navbar -->
<header class="page-header">
    <div class="video-bg">
        <!-- <video src="videos/video2.mp4" muted loop autoplay></video> -->
        <img src="images/workshop.jpg" alt="Image">
    </div>
    <!-- end video-bg -->
    <div class="container">
        <h1>WORKSHOP</h1>
        <p>TO CREATE A POWERFUL PROJECT ONCE, A BIT OF LUCK IS ENOUGH</p>
    </div>
    <!-- end container -->
    <aside class="left-side">
            <ul>
              <li><a href="https://www.facebook.com/Auxesis.DU">FACEBOOK</a></li>
              <li><a href="https://www.instagram.com/auxesis.official/?hl=en">INSTAGRAM</a></li>
              <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A"">YOUTUBE</a></li>
            </ul>
          </aside>
    <!-- end left-side -->
    <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
</header>
<!-- end header -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/reactNative.png" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <small class="post-date">14-15 SEPTEMBER, 2019</small>
                            <h3 class="post-title"><a href="https://facebook.github.io/react-native/docs/getting-started">Android & IOS app development</a></h3>
                            <div class="post-author"><img src="images/risha.jpeg" alt="Image"> <span>by <a href="https://github.com/michaelspeed">Risha singa Changmai</a></span></div>
                            <p class="post-text">
                                React Native combines the best parts of native development with React, 
                                a best-in-class JavaScript library for building user interfaces.
                                React primitives render to native platform UI, meaning your app 
                                uses the same native platform APIs other apps do.
                            </p>
                        </div>
                        <div class="custom-link wow fadeIn">
                                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableIOS">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <!-- end lines -->
                                    <br>
                                    <b>Register Here</b>
                                </a>
                          </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->
                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/iot.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <small class="post-date">17 SEPTEMBER, 2019</small>
                            <h3 class="post-title">
                                <a href="https://aws.amazon.com/iot/?sc_channel=PS&sc_campaign=acquisition_IN&sc_publisher=google&sc_medium=ACQ-R%7CPS-GO%7CNon-Brand%7CDesktop%7CSU%7CIoT%7CIoT%20Core%7CIN%7CEN%7CText&sc_content=iot_e&sc_detail=internet%20of%20things&sc_category=IoT&sc_segment=293641187464&sc_matchtype=e&sc_country=IN&s_kwcid=AL!4422!3!293641187464!e!!g!!internet%20of%20things&ef_id=CjwKCAjwtO7qBRBQEiwAl5WC24YJ4ez9wkcJO_rfYCgJdeuzrSNG2oBOI83Xw5nva0f6X4Khsu2TMRoCXQMQAvD_BwE:G:s">
                                Robotics
                            </a>
                        </h3>
                            <div class="post-author"><img src="images/author01.jpg" alt="Image">
                                <span>by <a href="#">Bikash Boruah</a></span></div>
                            <p class="post-text">
                                    Human–robot interaction is the study of interactions between humans and robots
                                    A robot may not injure a human being or, through inaction, allow a human being to come to harm.
                                    A robot must obey any orders given to it by human beings, except where such orders would conflict with the First Law.
                            </p>
                        </div>
                        <div class="custom-link wow fadeIn">
                                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableRobo">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <!-- end lines -->
                                    <br>
                                    <b>Register Here</b>
                                </a>
                          </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                <!-- end post -->

                <div class="post wow fadeIn">
                    <figure class="post-image">
                        <img src="images/icengine.jpg" alt="Image">
                    </figure>
                    <!-- end news-image -->
                    <div class="post-content">
                        <div class="inner">
                            <small class="post-date">17 SEPTEMBER, 2019</small>
                            <h3 class="post-title"><a href="#">Internal Combustion Engine</a></h3>
                            <div class="post-author"><img src="images/author01.jpg" alt="Image"> <span>by <a href="#">Christy Alexander</a></span></div>
                            <p class="post-text">
                                An internal combustion engine (ICE) is a heat engine where the combustion of a fuel occurs with an 
                                oxidizer (usually air) in a combustion chamber that is an integral part of the working fluid flow 
                                circuit.
                            </p>
                        </div>
                        <div class="custom-link wow fadeIn">
                                <a href="#" data-toggle="modal" data-target="#exampleModalScrollableIC">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <!-- end lines -->
                                    <br>
                                    <b>Register Here</b>
                                </a>
                          </div>
                        <!-- end inner -->
                    </div>
                    <!-- end post-content -->
                </div>
                

                <div class="pagination fadeIn">
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <!-- end pagination -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end news -->


<!-- Model -->
<div class="modal fade" id="exampleModalScrollableIOS" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Android & IOS workshop</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/workshop/IOS" method="POST">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        </div><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Email</span>
                            </div>
                            <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        </div><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Topic</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Android & IOS App Developement" aria-label="Username" aria-describedby="basic-addon1">
                        </div><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                            </div>
                            <input type="text" class="form-control" placeholder="1799Rs" aria-label="Username" aria-describedby="basic-addon1">
                        </div><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
      </div>


      <div class="modal fade" id="exampleModalScrollableRobo" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Robotics Registration</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
                <form action="/workshop/Robotics" method="POST">
                        <div class="modal-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Email</span>
                                    </div>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Topic</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Robotics" aria-label="Username" aria-describedby="basic-addon1" readonly>
                                </div><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="1799Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                                </div><br>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" >Register</button>
                        </div>
                </form>
            </div>
        </div>
      </div>


      <div class="modal fade" id="exampleModalScrollableIC" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">IC Engine Registration</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <form action="/workshop/ICEngine" method="POST">
                    <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                </div>
                                <input type="text" class="form-control" id="name" name="name" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                            </div><br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Email</span>
                                </div>
                                <input type="text" class="form-control" id="email" name="email" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                            </div><br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Topic</span>
                                </div>
                                <input type="text" class="form-control" placeholder="IC ENGINE" aria-label="Username" aria-describedby="basic-addon1" readonly>
                            </div><br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Registration Fee</span>
                                </div>
                                <input type="text" class="form-control" placeholder="1799Rs" aria-label="Username" aria-describedby="basic-addon1" readonly>
                            </div><br>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Register</button>
                    </div>
            </form>
            </div>
        </div>
      </div>
<!-- footer start  -->
<%- include('./include/footer.ejs') %>
<!-- end footer -->

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<%- include('./include/scripts.ejs') %>
</body>
</html>
