<footer class="footer">
    <div class="footer-quote wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-lg-8"> <img src="images/logo.png" alt="Image">
            <h2>Come and join us!</h2>
          </div>
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end footer-quote -->
    <div class="footer-contact wow fadeIn">
      <div class="container">
        <div class="row"> <div class="col-md-4">
            <address>
            Dibrugarh University Institute Of Engineering And Technology<br>
            Dibrugarh-786004
            </address>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4">
            <address>
            +9957552828<br>
            +9101325597
            </address>
          </div>
          <!-- end col-4 -->
          <div class="col-md-3">
            <address>
            <a href="#">Web developers</a>
            </address>
          </div>
          <!-- end col-2 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end footer-contact -->
    <div class="footer-bottom wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h5>Connect with us </h5>
            <ul>
              <li><a href="https://www.facebook.com/Auxesis.DU">Facebook</a></li>
              <li><a href="https://www.instagram.com/auxesis.official/?hl=en">Instagram</a></li>
              <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A">Youtube</a></li>
              <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A">Twitter</a></li>

            </ul>
          </div>
          <!-- end col-8 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end footer-bottom --> 
  </footer>
  <!-- end footer -->