<footer class="footer">
    
    <div class="footer-quote wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-lg-8"> <img src="images/MainLogo.png" alt="Image">
            <h2>Come and join us!</h2>
          </div>
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end footer-quote -->
    <div class="footer-contact wow fadeIn">
      <div class="container">
        <div class="row"> <div class="col-md-4">
            <address>
            Dibrugarh University Institute Of Engineering And Technology<br>
            Dibrugarh-786004
            </address>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4">
            <address>
            +9957552828<br>
            +9101325597
            </address>
          </div>
          <!-- end col-4 -->
          <div class="col-md-2">
            <address>
              <a href="/technicalevents">Technical Events</a> <br>
              <a href="/creativity">Creativity Events</a> <br>
              <a href="/cultural">Cultural  Events  .</a> <br>
              <a href="/schoolNmodule">School&Module </a> <br>
              <!-- <a href="/socialinitiatives">Social Initiatives</a> <br> -->
              <a href="/sports">Sports</a> <br>
            </address>
          </div>
          <!-- end col-2 --> 
          <div class="col-md-4">
              <address>
                  <a href="/webdesigners">Web developers</a>
                  <hr>
              </address>
          </div>
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end footer-contact -->
    <div class="footer-bottom wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h5>Connect with us </h5>
            <ul>
              <li><a href="https://www.facebook.com/Auxesis.DU">Facebook</a></li>
              <li><a href="https://www.instagram.com/auxesis.official/?hl=en">Instagram</a></li>
              <li><a href="https://www.youtube.com/channel/UCoZupsJMM1BaCdfDS2-ra2A">Youtube</a></li>
            </ul>
          </div>
          <!-- end col-8 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
 
    <!-- end footer-bottom --> 
  </footer>
