<div class="navigation-menu">
    <div class="bg-layers"> <span></span> <span></span> <span></span> <span></span> </div>
    <!-- end bg-layers -->
    <div class="inner" data-tilt data-tilt-perspective="2000">
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li>
                    <a href="/events">Events</a>
                        <ul>
                            <li><a href="/technicalevents">Technical</a></li>
                            <li><a href="/creativity">Creativity</a></li>
                            <li><a href="/cultural">Cultural</a></li>
                            <li><a href="/schoolNmodule">School&Module</a></li>
                            <li><a href="/adroitVie">Adroit Vie</a></li>
                            <li><a href="/speaker">Speakers</a></li>
                            <li><a href="/sports">Sports</a></li>
                        </ul>
                </li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/workshop">Workshop</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <br>
        <br>
        <blockquote>If God is a programmer then there is no confusion Devil is a hacker</blockquote>
    </div>
</div>

